<div class="content-container" ng-controller="ListTransactionsController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.heading.transactionhistory' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-exchange"></i>
				<a href="#/viewstandinginstruction/{{details.id}}">{{details.name}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-history"></i> {{ 'label.heading.standinginstructionhistory' | translate }}
		</div>
		<api-validate></api-validate>
		<div class="row" style="margin-bottom:16px;">
			<div class="col-sm-6">
				<span class="text-muted">{{ 'label.heading.fromaccount' | translate }}:</span>
				<strong>{{details.fromAccount.accountNo}} ({{details.fromAccountType.value}})</strong>
			</div>
			<div class="col-sm-6">
				<span class="text-muted">{{ 'label.heading.toaccount' | translate }}:</span>
				<strong>{{details.toAccount.accountNo}} ({{details.toAccountType.value}})</strong>
			</div>
		</div>
		<div class="row" style="margin-bottom:16px;">
			<div class="col-sm-6">
				<span class="text-muted">{{ 'label.heading.destination' | translate }}:</span>
				<strong>{{details.toClient.displayName}}</strong>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr class="graybg">
					<th>{{'label.heading.transactiondate' | translate}}</th>
					<th>{{'label.heading.amount' | translate}}</th>
					<th>{{'label.heading.notes' | translate}}</th>
					<th>{{'label.heading.reversed' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer-main" ng-repeat="transaction in transactions.currentPageItems">
					<td>{{transaction.transferDate | DateFormat}}</td>
					<td>{{transaction.transferAmount | number}}</td>
					<td>{{transaction.transferDescription}}</td>
					<td ng-show="transaction.reversed">{{'label.heading.yes' | translate}}</td>
					<td ng-hide="transaction.reversed">{{'label.heading.no' | translate}}</td>
				</tr>
			</tbody>
		</table>
		<ul class="pager">
			<li class="previous"><a id="prev" ng-click="transactions.previous()" href="" ng-disabled="!transactions.hasPrevious()">&larr; {{'label.button.previous' | translate}}</a></li>
			<li class="next"><a id="next" ng-click="transactions.next()" href="" ng-disabled="!transactions.hasNext()">{{'label.button.next' | translate}} &rarr;</a></li>
		</ul>
	</div><!-- /.ca-card -->

</div>
