<div class="content-container" ng-controller="ViewAccountTransferDetailsController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.viewaccounttransferdetails' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-bank"></i>
				<a href="#/viewsavingaccount/{{transferData.toAccount.id}}">{{'label.anchor.viewsavingaccount' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-exchange"></i> {{ 'label.heading.viewaccounttransferdetails' | translate}}
		</div>

		<div class="ca-section-heading">
			<i class="fa fa-file-text-o"></i> {{ 'label.heading.transactiondetails' | translate}}
		</div>
		<table class="table table-bordered" style="max-width:500px;">
			<tr>
				<td>{{ 'label.heading.transactionamount' | translate }}</td>
				<td><strong>{{transferData.transferAmount | number}}</strong></td>
			</tr>
			<tr>
				<td>{{ 'label.heading.transactiondate' | translate }}</td>
				<td>{{transferData.transferDate | DateFormat}}</td>
			</tr>
			<tr>
				<td>{{ 'label.heading.description' | translate }}</td>
				<td>{{transferData.transferDescription}}</td>
			</tr>
		</table>

		<div class="row">
			<div class="col-sm-6">
				<div class="ca-section-heading">
					<i class="fa fa-arrow-right"></i> {{ 'label.heading.transferredfrom' | translate}}
				</div>
				<table class="table table-bordered">
					<tr>
						<td>{{ 'label.heading.office' | translate }}</td>
						<td>{{transferData.fromOffice.name}}</td>
					</tr>
					<tr>
						<td>{{ 'label.heading.client' | translate }}</td>
						<td>{{transferData.fromClient.displayName}}</td>
					</tr>
					<tr>
						<td>{{ 'label.heading.accounttype' | translate }}</td>
						<td>{{transferData.fromAccountType.value}}</td>
					</tr>
					<tr>
						<td>{{ 'label.heading.accnum' | translate }}</td>
						<td>{{transferData.fromAccount.accountNo}}</td>
					</tr>
				</table>
			</div>
			<div class="col-sm-6">
				<div class="ca-section-heading">
					<i class="fa fa-arrow-left"></i> {{ 'label.heading.transferredto' | translate}}
				</div>
				<table class="table table-bordered">
					<tr>
						<td>{{ 'label.heading.office' | translate }}</td>
						<td>{{transferData.toOffice.name}}</td>
					</tr>
					<tr>
						<td>{{ 'label.heading.client' | translate }}</td>
						<td>{{transferData.toClient.displayName}}</td>
					</tr>
					<tr>
						<td>{{ 'label.heading.accounttype' | translate }}</td>
						<td>{{transferData.toAccountType.value}}</td>
					</tr>
					<tr>
						<td>{{ 'label.heading.accnum' | translate }}</td>
						<td>{{transferData.toAccount.accountNo}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div><!-- /.ca-card -->

</div>
