<div class="content-container" ng-controller="SmsCampaignsController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.smscampaings' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cogs"></i>
				<a href="#/organization">{{'label.anchor.organization' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-envelope"></i> {{'label.anchor.smscampaings' | translate}}
			<span class="pull-right">
				<a href="#/createsmscampaign" class="btn btn-primary btn-sm" has-permission='CREATE_SMSCAMPAIGN'><i class="fa fa-plus"></i>&nbsp;{{'label.button.createcampaign' | translate}}</a>
			</span>
		</div>
		<div class="row" style="margin-bottom:12px;">
			<div class="col-sm-4">
				<input ng-model="filterText" type="text" class="form-control" ng-keyup="onFilter()" placeholder="{{'label.input.filterbyname' | translate}}">
			</div>
		</div>
		<table class="table">
			<thead>
				<tr class="graybg">
					<th>{{'label.heading.campaignname' | translate}}</th>
					<th>{{'label.heading.templatemsg' | translate}}</th>
					<th>{{'label.heading.campaigntype' | translate}}</th>
					<th>{{'label.heading.triggertype' | translate}}</th>
					<th>{{'label.heading.status' | translate}}</th>
					<th>{{'label.heading.approvedby' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer-main" dir-paginate="smsCampaign in smsCampaigns | filter:{campaignName:filterText} | itemsPerPage: smsCampaignsPerPage" total-items="totalSMSCampaigns">
					<td class="pointer" data-ng-click="routeTo(smsCampaign.id)">{{smsCampaign.campaignName}}</td>
					<td class="pointer" data-ng-click="routeTo(smsCampaign.id)">{{smsCampaign.campaignMessage}}</td>
					<td class="pointer" data-ng-click="routeTo(smsCampaign.id)">{{smsCampaign.campaignType.value}}</td>
					<td class="pointer" data-ng-click="routeTo(smsCampaign.id)">{{smsCampaign.triggerType.value}}</td>
					<td class="pointer" data-ng-click="routeTo(smsCampaign.id)">{{smsCampaign.campaignStatus.value}}</td>
					<td class="pointer" data-ng-click="routeTo(smsCampaign.id)">{{smsCampaign.smsCampaignTimeLine.submittedByUsername}}</td>
				</tr>
			</tbody>
		</table>
		<dir-pagination-controls boundary-links="true" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html" on-page-change="getResultsPage(newPageNumber)"></dir-pagination-controls>
	</div><!-- /.ca-card -->

</div>
