<div class="content-container" data-ng-controller="ViewProductMixController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.heading.editproductmix' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cube"></i>
				<a href="#/products">{{'label.anchor.products' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-random"></i>
				<a href="#/productmix">{{'label.anchor.productmix' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-pencil"></i> {{'label.heading.editproductmix' | translate}}
		</div>
		<form class="form-horizontal" ng-submit="submit()">
			<api-validate></api-validate>
			<div class="row">
				<div class="col-sm-3 col-md-3 col-md-offset-1">
					<label class="control-label col-sm-9">{{'label.input.allowedproducts' | translate}}</label>
					<select multiple ng-model="allowed" class="form-control clear" ng-options="allowedProduct.id as allowedProduct.name for allowedProduct in allowedProducts"></select>
				</div>
				<div class="paddedtop10 col-sm-1 col-md-1 paddedleft0">
					<button type="button" class="btn btn-primary" data-ng-click="restrict()"><i class="fa fa-angle-double-right"></i></button>
					<br/>
					<button type="button" class="btn btn-primary" data-ng-click="allow()"><i class="fa fa-angle-double-left"></i></button>
				</div>
				<div class="col-sm-3 col-md-3">
					<label class="control-label col-sm-9">{{'label.input.restrictedproducts' | translate}}</label>
					<select multiple ng-model="restricted" class="form-control clear" ng-options="restrictedProduct.id as restrictedProduct.name for restrictedProduct in restrictedProducts"></select>
				</div>
			</div>
			<div class="ca-form-actions">
				<a href="#/viewproductmix/{{productmix.productId}}" class="btn btn-default btn-sm">{{'label.button.cancel' | translate}}</a>
				<button id="save" type="submit" class="btn btn-primary btn-sm" has-permission='UPDATE_PRODUCTMIX'>{{'label.button.save' | translate}}</button>
			</div>
		</form>
	</div><!-- /.ca-card -->

</div>
