<div class="content-container" ng-controller="ViewProductMixController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.viewproductmix' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cube"></i>
				<a href="#/products">{{'label.anchor.products' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-random"></i>
				<a href="#/productmix">{{'label.anchor.productmix' | translate}}</a>
			</span>
		</div>
	</div>

	<script type="text/ng-template" id="deleteproductmix.html">
		<div class="modal-header silver">
			<h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
		</div>
		<div class="modal-body">
			<api-validate></api-validate>
			<br>
			<button class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
			<button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
		</div>
	</script>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-eye"></i> {{'label.anchor.viewproductmix' | translate}}
			<span class="pull-right" data-ng-hide="center.status.value == 'Closed'">
				<a href="#/editproductmix/{{productmix.productId}}" class="btn btn-primary btn-sm" has-permission='UPDATE_PRODUCTMIX'><i class="fa fa-edit"></i>&nbsp;{{'label.button.edit' | translate}}</a>
				<button class="btn btn-danger btn-sm" data-ng-click="deleteProductmix()" has-permission='DELETE_PRODUCTMIX'><i class="fa fa-trash-o"></i>&nbsp;{{'label.button.delete' | translate}}</button>
			</span>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<table class="table table-striped" width="100%">
					<thead>
						<tr class="graybg">
							<th colspan="2">{{'label.heading.allowedproducts' | translate}}</th>
						</tr>
					</thead>
					<tr data-ng-repeat="allowed in productmix.allowedProducts">
						<td class="width40">{{allowed.name}}</td>
					</tr>
				</table>
			</div>
			<div class="col-sm-6">
				<table class="table table-striped" width="100%">
					<thead>
						<tr class="graybg">
							<th colspan="2">{{'label.heading.restrictedproducts' | translate}}</th>
						</tr>
					</thead>
					<tr data-ng-repeat="restricted in productmix.restrictedProducts">
						<td class="width40">{{restricted.name}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div><!-- /.ca-card -->

</div>
