<div class="content-container" ng-controller="ViewFixedDepositTransactionController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{ 'label.anchor.viewtransaction' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-university"></i>
				<a href="#/viewfixeddepositaccount/{{transaction.accountId}}">{{'label.anchor.viewfixeddepositaccount' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">

		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-info-circle"></i> {{ 'label.heading.transactiondetails' | translate}}
		</div>

		<table class="table">
			<tr>
				<td class="width30">{{ 'label.heading.transactionid' | translate}}</td>
				<td>{{transaction.id}}</td>
			</tr>
			<tr>
				<td>{{ 'label.heading.type' | translate}}</td>
				<td>{{transaction.transactionType.value}}</td>
			</tr>
			<tr>
				<td>{{ 'label.heading.transactiondate' | translate}}</td>
				<td>{{transaction.date | DateFormat}}</td>
			</tr>
			<tr>
				<td>{{ 'label.heading.currency' | translate}}</td>
				<td>{{transaction.currency.name}}</td>
			</tr>
			<tr>
				<td>{{ 'label.heading.amount' | translate}}</td>
				<td>{{transaction.amount | number}}</td>
			</tr>
		</table>

		<div ng-show="transaction.paymentDetailData">
			<div class="ca-section-heading">
				<i class="fa fa-credit-card"></i> {{ 'label.heading.paymentdetails' | translate}}
			</div>
			<table class="table">
				<tr ng-show="transaction.paymentDetailData.paymentType">
					<td class="width30">{{ 'label.heading.type' | translate}}</td>
					<td>{{transaction.paymentDetailData.paymentType.name}}</td>
				</tr>
				<tr ng-show="transaction.paymentDetailData.accountNumber">
					<td>{{ 'label.heading.accnum' | translate}}</td>
					<td>{{transaction.paymentDetailData.accountNumber}}</td>
				</tr>
				<tr ng-show="transaction.paymentDetailData.checkNumber">
					<td>{{ 'label.heading.checknumber' | translate}}</td>
					<td>{{transaction.paymentDetailData.checkNumber}}</td>
				</tr>
				<tr ng-show="transaction.paymentDetailData.routingCode">
					<td>{{ 'label.heading.routingcode' | translate}}</td>
					<td>{{transaction.paymentDetailData.routingCode}}</td>
				</tr>
				<tr ng-show="transaction.paymentDetailData.receiptNumber">
					<td>{{ 'label.heading.receiptnumber' | translate}}</td>
					<td>{{transaction.paymentDetailData.receiptNumber}}</td>
				</tr>
				<tr ng-show="transaction.paymentDetailData.bankNumber">
					<td>{{ 'label.heading.banknumber' | translate}}</td>
					<td>{{transaction.paymentDetailData.bankNumber}}</td>
				</tr>
			</table>
		</div>

	</div><!-- /.ca-card -->

</div>
