<div class="content-container" ng-controller="TellersController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.tellers' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cogs"></i>
				<a href="#/organization">{{'label.anchor.organization' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-inbox"></i> {{'label.anchor.tellers' | translate}}
			<span class="pull-right">
				<a href="#/createTeller" class="btn btn-primary btn-sm" has-permission='CREATE_TELLER'><i class="fa fa-plus"></i>&nbsp;{{'label.button.createteller' | translate}}</a>
			</span>
		</div>
		<div class="row" style="margin-bottom:12px;">
			<div class="col-sm-4">
				<input ng-autofocus="true" ng-model="filterText" type="text" class="form-control" placeholder="{{'label.input.filterbynameexternalid' | translate}}">
			</div>
		</div>
		<api-validate></api-validate>
		<table class="table">
			<thead>
				<tr class="graybg">
					<th>{{'label.heading.cashmgmt.officeName' | translate}}</th>
					<th>{{'label.heading.cashmgmt.tellerName' | translate}}</th>
					<th>{{'label.heading.cashmgmt.tellerStatus' | translate}}</th>
					<th>{{'label.heading.cashmgmt.tellerStartDate' | translate}}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer-main" dir-paginate="teller in tellers | orderBy:'teller.officeName' | filter:filterText | itemsPerPage: TellersPerPage">
					<td class="pointer" data-ng-click="routeToCashiers(teller.id)">{{teller.officeName}}</td>
					<td class="pointer" data-ng-click="routeToCashiers(teller.id)">{{teller.name}}</td>
					<td class="pointer" data-ng-click="routeToCashiers(teller.id)">{{teller.status}}</td>
					<td class="pointer" data-ng-click="routeToCashiers(teller.id)">{{teller.startDate | DateFormat}}</td>
					<td>
						<a class="btn btn-info btn-sm" data-ng-click="routeTo(teller.id)"><i class="fa fa-eye"></i>&nbsp;{{'label.button.view' | translate}}</a>
						<a href="#/editteller/{{teller.id}}" class="btn btn-primary btn-sm" has-permission='UPDATE_TELLER'><i class="fa fa-edit"></i>&nbsp;{{ 'label.button.edit' | translate }}</a>
						<a class="btn btn-danger btn-sm" has-permission='DELETE_TELLER' data-ng-click="routeToDelete(teller.id)"><i class="fa fa-trash-o"></i>&nbsp;{{'label.button.delete' | translate}}</a>
					</td>
				</tr>
			</tbody>
		</table>
		<dir-pagination-controls boundary-links="true" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
	</div><!-- /.ca-card -->

</div>
