<div class="content-container" ng-controller="ViewCashierController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{cashier.staffName}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cogs"></i>
				<a href="#/organization">{{'label.anchor.organization' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-users"></i>
				<a href="#/tellers/{{cashier.tellerId}}/cashiers">{{ 'label.heading.cashmgmt.cashierName' | translate }}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-user"></i> {{ 'label.heading.cashmgmt.cashierName' | translate }}: {{cashier.staffName}}
			<span class="pull-right">
				<a href="#/tellers/{{cashier.tellerId}}/editcashier/{{cashier.id}}" class="btn btn-primary btn-sm" has-permission='UPDATE_CASHIER'><i class="fa fa-edit"></i>&nbsp;{{'label.button.edit' | translate}}</a>
			</span>
		</div>
		<table class="table-bordered table view-table" style="width:400px;">
			<tr>
				<td>{{ 'label.heading.cashmgmt.tellerName' | translate }}</td>
				<td>{{cashier.tellerName}}</td>
			</tr>
			<tr>
				<td>{{ 'label.input.teller.description' | translate }}</td>
				<td>{{cashier.description}}</td>
			</tr>
			<tr>
				<td>{{ 'label.input.teller.startDate' | translate }}</td>
				<td>{{cashier.startDate | DateFormat}}</td>
			</tr>
			<tr>
				<td>{{ 'label.input.teller.endDate' | translate }}</td>
				<td>{{cashier.endDate | DateFormat}}</td>
			</tr>
			<tr>
				<td>{{ 'label.input.teller.cashier.fullDay' | translate }}</td>
				<td>{{cashier.isFullDay}}</td>
			</tr>
			<tr ng-show="!cashier.isFullDay">
				<td>{{ 'label.input.teller.cashier.startTime' | translate }}</td>
				<td>{{cashier.startTime}}</td>
			</tr>
			<tr ng-show="!cashier.isFullDay">
				<td>{{ 'label.input.teller.cashier.endTime' | translate }}</td>
				<td>{{cashier.endTime}}</td>
			</tr>
		</table>
	</div><!-- /.ca-card -->

</div>
