<div class="content-container" data-ng-controller="AssignStaffController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.heading.assignstaff' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-users"></i>
				<a href="#/viewgroup/{{group.id}}">{{'label.anchor.viewgroup' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-user-plus"></i> {{'label.heading.assignstaff' | translate}}
		</div>
		<api-validate></api-validate>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-3">{{'label.input.staff' | translate}}<span class="required">*</span></label>
				<div class="col-sm-4">
					<select chosen="staffs" id="staffId" ng-model="formData.staffId" class="form-control"
						ng-options="staff.id as staff.displayName for staff in staffs" value="{{staff.id}}">
					</select>
				</div>
			</div>
			<div class="ca-form-actions">
				<a id="cancel" href="#/viewgroup/{{group.id}}" class="btn btn-default btn-sm">{{'label.button.cancel' | translate}}</a>
				<button id="save" type="button" class="btn btn-primary btn-sm" data-ng-click="assignStaff()" has-permission='ASSIGNSTAFF_GROUP'>{{'label.button.save' | translate}}</button>
			</div>
		</form>
	</div><!-- /.ca-card -->

</div>
