<div class="content-container" data-ng-controller="CloseGroupController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'closegroup' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-users"></i>
				<a href="#/viewgroup/{{group.id}}">{{'label.anchor.viewgroup' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-times-circle"></i> {{'closegroup' | translate}}
		</div>
		<form class="form-horizontal">
			<api-validate></api-validate>
			<div class="form-group">
				<label class="control-label col-sm-3">{{ 'label.input.closuredate' | translate }}<span class="required">*</span></label>
				<div class="col-sm-4">
					<input id="closureDate" class="date-disable form-control" type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date"
						is-open="opened" min="'2000-01-01'" max="restrictDate" readonly/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">{{ 'label.input.closurereasons' | translate }}<span class="required">*</span></label>
				<div class="col-sm-4">
					<select id="closureReasonId" ng-model="formData.closureReasonId"
						ng-options="reason.id as reason.name for reason in template.closureReasons" value="{{reason.id}}" class="form-control">
					</select>
				</div>
			</div>
			<div class="ca-form-actions">
				<a id="cancel" href="#/viewgroup/{{group.id}}" class="btn btn-default btn-sm">{{ 'label.button.cancel' | translate }}</a>
				<button id="save" type="button" class="btn btn-primary btn-sm" data-ng-click="closeGroup()" has-permission='CLOSE_GROUP'>{{ 'label.button.confirm' | translate }}</button>
			</div>
		</form>
	</div><!-- /.ca-card -->

</div>
