<div class="content-container" ng-controller="CenterAttendanceController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.heading.attendance' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-list"></i>
				<a href="#/centers">{{'label.anchor.centers' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-building"></i>
				<a href="#/viewcenter/{{centerId}}">{{center.name}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-check-square-o"></i> {{'label.heading.attendance' | translate}}
		</div>
		<form name="centerattendanceform" novalidate="" class="form-horizontal">
			<api-validate></api-validate>
			<div class="error" ng-show="errorStatus">{{errorStatus}}</div>
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-3">{{'label.input.meetingdate' | translate}}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input type="text" datepicker-pop="dd MMMM yyyy" id="date" name="date" ng-model="first.date" is-open="opened"
							min="minDate" class="form-control" required late-Validate/>
						<form-validate valattributeform="centerattendanceform" valattribute="date"/>
						<span class="help-block">Next Meeting on: {{meeting.nextTenRecurringDates[0] | DateFormat}}</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">{{'label.heading.attendance' | translate}}</label>
					<div class="col-sm-7">
						<table class="table table-striped" width="100%">
							<thead>
								<tr class="graybg">
									<th>{{ 'label.heading.name' | translate }}</th>
									<th>{{ 'label.heading.attendance' | translate }}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="client in clients">
									<td>{{client.displayName}}</td>
									<td>
										<select id="attendanceId" ng-model="tempData[client.id]"
											ng-options="attendance.id as attendance.value for attendance in attendanceOptions"
											value="{{attendance.id}}" class="form-control">
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="ca-form-actions">
					<a id="cancel" href="#/viewcenter/{{center.id}}" class="btn btn-default btn-sm">{{'label.button.cancel' | translate}}</a>
					<button id="save" type="button" class="btn btn-primary btn-sm" data-ng-click="attendanceUpdate(meeting.id)" has-permission='CREATE_MEETING'>{{'label.button.save' | translate}}</button>
				</div>
			</fieldset>
		</form>
	</div><!-- /.ca-card -->

</div>
