<div class="content-container" ng-controller="AddFamilyMembersController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.button.addfamilymember' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-user"></i>
				<a ng-href="#/viewclient/{{clientId}}">{{'label.anchor.viewclient' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading">
			<i class="fa fa-users"></i> {{'label.button.addfamilymember' | translate}}
		</div>

		<form name="familymemberInfo" novalidate="" class="ca-form form-horizontal">
			<api-validate></api-validate>

			<!-- Personal Info -->
			<div class="ca-section-heading" style="margin-top:0;">
				<i class="fa fa-id-card-o"></i> {{'label.heading.personalinfo' | translate}}
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="firstName">{{'label.input.firstname' | translate}}</label>
				<div class="col-sm-4">
					<input type="text" id="firstName" name="firstName" ng-model="formData.firstName" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="middleName">{{'label.input.middlename' | translate}}</label>
				<div class="col-sm-4">
					<input type="text" id="middleName" name="middleName" ng-model="formData.middleName" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="lastName">{{'label.input.lastname' | translate}}</label>
				<div class="col-sm-4">
					<input type="text" id="lastName" name="lastName" ng-model="formData.lastName" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="dateofbirth">{{ 'label.input.dateofbirth' | translate }}</label>
				<div class="col-sm-4">
					<input id="dateofbirth" type="text" name="dateofbirth" datepicker-pop="dd MMMM yyyy"
						   ng-model="date.dateOfBirth" is-open="opened1" max="restrictDate" class="form-control"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="age">{{ 'label.input.age' | translate }}</label>
				<div class="col-sm-4">
					<input type="text" id="age" name="age" ng-model="formData.age" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="mobileNumber">{{ 'label.input.mobileNumber' | translate }}</label>
				<div class="col-sm-4">
					<input type="text" id="mobileNumber" name="mobileNumber" ng-model="formData.mobileNumber" class="form-control">
				</div>
			</div>

			<!-- Classification -->
			<div class="ca-section-heading">
				<i class="fa fa-sitemap"></i> {{'label.heading.classification' | translate}}
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3">{{ 'label.input.relationship' | translate }}</label>
				<div class="col-sm-4">
					<select id="relationshipIdOption" ng-model="formData.relationshipId" class="form-control"
							ng-options="relationshipIdOption.id as relationshipIdOption.name for relationshipIdOption in relationshipIdOptions track by relationshipIdOption.id"
							value="formData.relationshipId">
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3">{{ 'label.input.gender' | translate }}</label>
				<div class="col-sm-4">
					<select id="genderIdOption" ng-model="formData.genderId" class="form-control"
							ng-options="genderIdOption.id as genderIdOption.name for genderIdOption in genderIdOptions track by genderIdOption.id"
							value="formData.genderId">
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3">{{ 'label.input.maritalstatus' | translate }}</label>
				<div class="col-sm-4">
					<select id="maritalStatusId" ng-model="formData.maritalStatusId" class="form-control"
							ng-options="maritalStatusIdOption.id as maritalStatusIdOption.name for maritalStatusIdOption in maritalStatusIdOptions track by maritalStatusIdOption.id"
							value="formData.maritalStatusId">
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3">{{ 'label.input.profession' | translate }}</label>
				<div class="col-sm-4">
					<select id="professionIdOption" ng-model="formData.professionId" class="form-control"
							ng-options="professionIdOption.id as professionIdOption.name for professionIdOption in professionIdOptions track by professionIdOption.id"
							value="formData.professionId">
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="qualification">{{ 'label.input.qualification' | translate }}</label>
				<div class="col-sm-4">
					<input type="text" id="qualification" name="qualification" ng-model="formData.qualification" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="isDependent">{{ 'label.input.isDependent' | translate }}</label>
				<div class="col-sm-4" style="padding-top:7px;">
					<input type="checkbox" id="isDependent" name="isDependent" ng-model="formData.isDependent">
				</div>
			</div>

			<div class="ca-form-actions">
				<button id="cancel" ng-click="routeTo()" class="btn btn-default btn-sm">
					{{'label.button.cancel' | translate}}
				</button>
				<button id="edit" ng-click="addClientMember()" class="btn btn-primary btn-sm">
					<i class="fa fa-check"></i> {{'label.button.submit' | translate}}
				</button>
			</div>

		</form>
	</div>

</div>
