<div class="content-container" ng-controller="ClientActionsController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{breadcrumbName | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-arrow-left"></i>
				<a href="#/clients">{{'label.anchor.clients' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-user"></i>
				<a href="#/viewclient/{{clientId}}">{{'label.anchor.viewclient' | translate}}</a>
			</span>
		</div>
	</div>

	<wizard current-step="step()" on-finish="submitDatatable()">
		<wz-step wz-title="{{breadcrumbName | translate}}">

			<div class="ca-card">
				<div class="ca-section-heading">
					<i class="fa fa-edit"></i> {{breadcrumbName | translate}}
				</div>

				<form name="clientactionform" novalidate="" class="ca-form form-horizontal">

					<div ng-show="submittedDatatables.length>0" uib-alert type="success">
						<span ng-repeat="table in submittedDatatables">
							<i class="fa fa-check"></i> Entry in ` {{table}} ` has been made successfully.<br>
						</span>
					</div>
					<api-validate></api-validate>

					<div class="form-group" ng-show="showDateField">
						<label class="control-label col-sm-3">{{labelName | translate}}<span class="required">*</span></label>
						<div class="col-sm-4">
							<input type="text" datepicker-pop="dd MMMM yyyy" id="{{modelName}}" name="modelName"
								   ng-model="formData[modelName]" min="'2000-01-01'" max="restrictDate" class="form-control"/>
						</div>
					</div>

					<div class="form-group" ng-show="showActivationDateField">
						<label class="control-label col-sm-3">{{labelName | translate}}<span class="required">*</span></label>
						<div class="col-sm-4">
							<input type="text" datepicker-pop="dd MMMM yyyy" id="{{modelName}}" name="modelName"
								   ng-model="formData[modelName]" min="mindate" max="restrictDate" class="form-control"/>
						</div>
					</div>

					<div class="form-group" ng-show="reasonField">
						<label class="control-label col-sm-3">{{labelNamereason | translate}}<span class="required">*</span></label>
						<div class="col-sm-4">
							<select id="{{reasonmodelName}}" ng-model="formData[reasonmodelName]"
									ng-options="reason.id as reason.name for reason in reasons"
									value="{{reason.id}}" class="form-control">
							</select>
						</div>
					</div>

					<div class="form-group" ng-show="staffField">
						<label class="control-label col-sm-3">{{labelName | translate}}<span class="required">*</span></label>
						<div class="col-sm-4">
							<select chosen="staffOptions" id="staffId" ng-model="formData.staffId" class="form-control"
									ng-options="staff.id as staff.displayName for staff in staffOptions" value="{{staff.id}}">
							</select>
						</div>
					</div>

					<div class="form-group" ng-show="savingsField">
						<label class="control-label col-sm-3">{{labelName | translate}}<span class="required">*</span></label>
						<div class="col-sm-4">
							<select id="savingsAccountId" ng-model="formData.savingsAccountId" class="form-control"
									ng-options="savingsAccount.id as (savingsAccount.accountNo +'-'+savingsAccount.savingsProductName) for savingsAccount in savingAccountOptions"
									value="{{savingsAccount.id}}">
							</select>
						</div>
					</div>

					<div class="form-group" ng-show="showTransferDate">
						<label class="control-label col-sm-3">{{ 'label.heading.transfer.date' | translate}}</label>
						<div class="col-sm-4">
							<label class="control-label" style="text-transform:none;font-size:13px;color:#1e293b;">{{ transferDate | DateFormat}}</label>
						</div>
					</div>

					<div class="form-group" ng-show="showNoteField">
						<label class="control-label col-sm-3" for="note">{{ 'label.heading.notes' | translate}}</label>
						<div class="col-sm-4">
							<textarea rows="3" id="note" ng-model="formData.note" class="form-control"></textarea>
						</div>
					</div>

					<div class="ca-form-actions">
						<button id="save1" wz-next class="btn btn-primary btn-sm" ng-show="isEntityDatatables">
							<i class="fa fa-arrow-right"></i> {{'label.button.proceed' | translate}}
						</button>
						<button id="cancel" type="reset" ng-click="cancel()" class="btn btn-default btn-sm"
								ng-show="!showDeleteClient && !isEntityDatatables">
							{{'label.button.cancel' | translate}}
						</button>
						<button id="save" type="submit" has-permission='{{taskPermissionName}}' class="btn btn-primary btn-sm"
								ng-show="!showDeleteClient && !isEntityDatatables" wz-next>
							<i class="fa fa-check"></i> {{'label.button.save' | translate}}
						</button>
					</div>

				</form>
			</div>

		</wz-step>

		<wz-step ng-if="isEntityDatatables" ng-repeat="datatable in datatables" wz-title="{{datatable.registeredTableName}}">
			<div class="ca-card">
				<div class="ca-section-heading">
					<i class="fa fa-table"></i> {{datatable.registeredTableName}}
				</div>
				<form class="ca-form form-horizontal">
					<div ng-show="submittedDatatables.length>0" uib-alert type="success">
						<span ng-repeat="table in submittedDatatables">
							<i class="fa fa-check"></i> Entry in ` {{table}} ` has been made successfully.<br>
						</span>
					</div>
					<api-validate></api-validate>

					<div class="form-group" ng-repeat="columnHeader in datatable.columnHeaders">
						<label class="control-label col-sm-3">{{ columnHeader.columnName | prettifyDataTableColumn }}
							<span ng-show="!columnHeader.isColumnNullable" class="required">*</span>
						</label>
						<div class="col-sm-4">
							<input ng-show="fieldType(columnHeader.columnDisplayType) == 'TEXT'" type="text"
								   ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName]" class="form-control"/>
							<input ng-show="fieldType(columnHeader.columnDisplayType) == 'DATE'" type="text"
								   datepicker-pop="dd MMMM yyyy" ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName].dateType.date"
								   is-open="opened{{$index}}" class="form-control"/>
							<div ng-show="fieldType(columnHeader.columnDisplayType) == 'DATETIME'" class="form-inline">
								<div class="form-group" style="margin-right:8px;">
									<input type="text" datepicker-pop="dd MMMM yyyy"
										   ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName].dateTimeType.date"
										   is-open="opened{{$index}}" class="form-control"/>
								</div>
								<div class="form-group">
									<input type="time" placeholder="HH:MM:SS"
										   ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName].dateTimeType.time" class="form-control"/>
								</div>
							</div>
							<div ng-show="fieldType(columnHeader.columnDisplayType) == 'BOOLEAN'">
								<label class="radio-inline">
									<input type="radio" ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName]" value="true"/>
									{{'label.input.true' | translate}}
								</label>
								<label class="radio-inline">
									<input type="radio" ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName]" value="false"/>
									{{'label.input.false' | translate}}
								</label>
							</div>
							<span data-ng-switch on="columnHeader.columnDisplayType">
								<select ng-show="fieldType(columnHeader.columnDisplayType) == 'SELECT'"
										data-ng-switch-when="CODELOOKUP"
										ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName]"
										ng-options="columnValue.id as columnValue.value for columnValue in columnHeader.columnValues"
										value="{{columnValue.id}}" class="form-control">
									<option value="">{{'label.selectone' | translate}}</option>
								</select>
								<select ng-show="fieldType(columnHeader.columnDisplayType) == 'SELECT'"
										data-ng-switch-when="CODEVALUE"
										ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName]"
										ng-options="columnValue.value as columnValue.value for columnValue in columnHeader.columnValues"
										value="{{columnValue.id}}" class="form-control">
									<option value="">{{'label.selectone' | translate}}</option>
								</select>
							</span>
						</div>
					</div>

					<div class="ca-form-actions">
						<button id="save4" type="submit" class="btn btn-primary btn-sm" ng-if="!$last" wz-next>
							<i class="fa fa-arrow-right"></i> {{'label.button.proceed' | translate}}
						</button>
						<button id="cancel" type="reset" ng-click="cancel()" class="btn btn-default btn-sm" ng-if="$last">
							{{'label.button.cancel' | translate}}
						</button>
						<button id="save" type="submit" has-permission='{{taskPermissionName}}' class="btn btn-primary btn-sm" ng-if="$last" wz-next>
							<i class="fa fa-check"></i> {{'label.button.save' | translate}}
						</button>
					</div>
				</form>
			</div>
		</wz-step>

	</wizard>
</div>
