<div class="content-container" ng-controller="HoldSavingsTransactionController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.holdaccount' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-piggy-bank"></i>
				<a href="#/viewsavingaccount/{{savingsId}}">{{'label.anchor.viewsavingsaccount' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">

		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-lock"></i> {{'label.heading.hold' | translate}}
		</div>

		<table class="table">
			<thead>
			<tr class="graybg">
				<th>{{'label.heading.id' | translate}}</th>
				<th>{{'label.heading.accnum' | translate}}</th>
				<th>{{'label.heading.reasons' | translate}}</th>
				<th>{{'label.heading.date' | translate}}</th>
				<th>{{'label.heading.amount' | translate}}</th>
				<th>{{'label.heading.actions' | translate}}</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="transaction in savingaccountdetails.transactions" ng-if="transaction.transactionType.id===20 && transaction.releaseTransactionId === 0">
				<td>{{transaction.id}}</td>
				<td>{{transaction.accountNo}}</td>
				<td>{{transaction.reasonForBlock | translate}}</td>
				<td>{{transaction.date | DateFormat}}</td>
				<td>{{transaction.amount}}</td>
				<td>
					<a ng-click="releasefund(transaction.id)" class="btn btn-primary btn-sm"
					   has-permission='RELEASEAMOUNT_SAVINGSACCOUNT'>{{"label.button.releasefund" | translate}}</a>
				</td>
			</tr>
			</tbody>
		</table>

	</div><!-- /.ca-card -->

</div>
