<div class="content-container" ng-controller="ListOnHoldTransactionController" xmlns="http://www.w3.org/1999/html">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.onholdtransaction' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-exchange"></i>
				<a href="#/{{fromPath}}/{{fromPathId}}">{{'label.heading.' + fromPath | translate}}</a>
			</span>
		</div>
	</div>

	<api-validate></api-validate>

	<div class="ca-card">

		<form name="onholdtransactionform" novalidate="" class="form-horizontal" ng-repeat="transaction in transactions.currentPageItems|limitTo:1">
			<fieldset>
				<div class="form-group" ng-show="fromPath === 'viewsavingaccount'">
					<label class="control-label col-sm-3">{{'label.heading.clientname' | translate}}</label>
					<div class="col-sm-4">{{transaction.savingsClientName}}</div>
				</div>
				<div class="form-group" ng-show="fromPath === 'viewsavingaccount'">
					<label class="control-label col-sm-3">{{'label.heading.savingsaccountno' | translate}}</label>
					<div class="col-sm-4">{{transaction.savingsAccountNo}}</div>
				</div>
				<div class="form-group" ng-show="fromPath === 'listguarantors'">
					<label class="control-label col-sm-3">{{'label.heading.clientname' | translate}}</label>
					<div class="col-sm-4">{{transaction.loanClientName}}</div>
				</div>
				<div class="form-group" ng-show="fromPath === 'listguarantors'">
					<label class="control-label col-sm-3">{{'label.heading.loanaccountnum' | translate}}</label>
					<div class="col-sm-4">{{transaction.loanAccountNo}}</div>
				</div>
			</fieldset>
		</form>

		<div class="ca-section-heading">
			<i class="fa fa-list"></i> {{'label.heading.listonholdtransaction' | translate}}
		</div>

		<div ng-show="transactions">
			<table class="table">
				<thead>
				<tr class="graybg">
					<th>{{'label.heading.transactionid' | translate}}</th>
					<th ng-show="fromPath === 'listguarantors'">{{'label.heading.savingsaccountno' | translate}}</th>
					<th ng-show="fromPath === 'listguarantors'">{{'label.heading.clientname' | translate}}</th>
					<th ng-show="fromPath === 'viewsavingaccount'">{{'label.heading.loanaccountnum' | translate}}</th>
					<th ng-show="fromPath === 'viewsavingaccount'">{{'label.heading.clientname' | translate}}</th>
					<th>{{'label.heading.transactionType' | translate}}</th>
					<th>{{'label.heading.transactionDate' | translate}}</th>
					<th>{{'label.heading.amount' | translate}}</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="transaction in transactions.currentPageItems" ng-class="{strikeoff : transaction.reversed==true}">
					<td>{{transaction.id}}</td>
					<td ng-show="fromPath === 'listguarantors'"><a href="#/viewsavingaccount/{{transaction.savingsId}}">{{transaction.savingsAccountNo}}</a></td>
					<td ng-show="fromPath === 'listguarantors'">{{transaction.savingsClientName}}</td>
					<td ng-show="fromPath === 'viewsavingaccount'"><a href="#/viewloanaccount/{{transaction.loanId}}">{{transaction.loanAccountNo}}</a></td>
					<td ng-show="fromPath === 'viewsavingaccount'">{{transaction.loanClientName}}</td>
					<td>{{transaction.transactionType.code | translate}}</td>
					<td>{{transaction.transactionDate | DateFormat}}</td>
					<td>{{transaction.amount}}</td>
				</tr>
				</tbody>
			</table>
			<ul class="pager">
				<li class="previous"><a id="prev" ng-click="transactions.previous()" href="" ng-disabled="!transactions.hasPrevious()">&larr; {{'label.button.previous' | translate}}</a></li>
				<li class="next"><a id="next" ng-click="transactions.next()" href="" ng-disabled="!transactions.hasNext()">{{'label.button.next' | translate}}&rarr;</a></li>
			</ul>
		</div>

	</div><!-- /.ca-card -->

</div>
