<div class="content-container" ng-controller="UnAssignSavingsOfficerController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.unassignsavingsofficer' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-piggy-bank"></i>
				<a href="#/viewsavingaccount/{{accountNo}}">{{'label.anchor.viewsavingsaccount' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">

		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-user-times"></i> {{'label.heading.unassignsavingsofficer' | translate}}
		</div>

		<form class="form-horizontal" name="unassignsavingsofficerform" novalidate="" ng-submit="submit()">
			<api-validate></api-validate>
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-3" for="unassignedDate">{{ 'label.input.loanofficerunassigneddate' | translate }}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input class="form-control" sort id="unassignedDate" type="text" datepicker-pop="dd MMMM yyyy"
							   ng-model="formData.unassignedDate" is-open="opened" min="minDate"/>
					</div>
				</div>
				<div class="ca-form-actions">
					<button id="cancel" type="reset" class="btn btn-default btn-sm" ng-click="cancel()">{{ 'label.button.cancel' | translate }}</button>
					<button id="save" type="submit" ng-disabled="!unassignsavingsofficerform.$valid"
							has-permission='REMOVESAVINGSOFFICER_SAVINGSACCOUNT'
							class="btn btn-primary btn-sm">{{'label.button.save' | translate}}
					</button>
				</div>
			</fieldset>
		</form>

	</div><!-- /.ca-card -->

</div>
