<div class="content-container" ng-controller="CreateProvisoningEntriesController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.createprovisioningeentries' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-book"></i>
				<a href="#/accounting">{{'label.anchor.accounting' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-list"></i>
				<a href="#/viewprovisioningentries">{{'label.anchor.viewprovisioningeentries' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-plus-circle"></i> {{'label.anchor.createprovisioningeentries' | translate}}
		</div>
		<form name="createprovisioningentryform" novalidate="" class="form-horizontal" rc-submit="submit()">
			<api-validate></api-validate>
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-3" for="submittedOnDate">{{'label.input.provisioningcriteria' | translate}}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input type="text" id="submittedOnDate" name="submittedon" datepicker-pop="dd MMMM yyyy"
							ng-model="submitteddate" is-open="opened" min="'2000-01-01'" max="restrictDate" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-4 col-sm-offset-3">
						<label class="checkbox-inline">
							<input type="checkbox" name="name1" ng-model="formData.createjournalentries"/> {{'Create Journal Entries'}}
						</label>
					</div>
				</div>
				<div class="ca-form-actions">
					<a href="#/viewprovisioningentries" class="btn btn-default btn-sm">{{'label.button.cancel' | translate}}</a>
					<button id="save" type="submit" class="btn btn-primary btn-sm" has-permission='CREATE_PROVISIONING_ENTRIES'>{{'label.button.save' | translate}}</button>
				</div>
			</fieldset>
		</form>
	</div><!-- /.ca-card -->

</div>
