<div class="content-container" ng-controller="AddLoanChargeController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{ 'label.heading.addloancharge' | translate }}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-file-text-o"></i>
				<a href="#/viewloanaccount/{{loanId}}">{{'label.anchor.viewloanaccount' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">

		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-plus-circle"></i> {{ 'label.heading.addloancharge' | translate }}
		</div>

		<form class="form-horizontal" novalidate="" name="loanchargeform" rc-submit="submit()">
			<api-validate></api-validate>

			<div class="form-group">
				<label class="control-label col-sm-3" for="chargeId">{{ 'label.input.charge' | translate }}<span class="required">*</span></label>
				<div class="col-sm-4">
					<select id="chargeId" ng-model="formData.chargeId" class="form-control"
							ng-options="charge.id as (charge.name+' '+'('+charge.currency.name+')') for charge in charges"
							value="{{charge.id}}" ng-change="selectCharge(formData.chargeId)">
						<option value="">{{'label.selectcharge' | translate}}</option>
					</select>
				</div>
			</div>

			<div ng-hide="isCollapsed">
				<div class="form-group">
					<label class="control-label col-sm-3" for="amount">{{ 'label.input.amount' | translate }}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input id="amount" type="text" class="form-control" name="amount" ng-model="formData.amount" required number-format ng-late-Validate>
						<span ng-show="loanchargeform.amount.$invalid">
							<small class="error">{{ 'label.requiredfield' | translate }}</small>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">{{ 'label.input.chargecalculation' | translate }}</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" value="{{chargeData.chargeCalculationType.value}}" readonly>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">{{ 'label.input.chargetime' | translate }}</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" value="{{chargeData.chargeTimeType.value}}" readonly>
					</div>
				</div>
				<div class="form-group" ng-show="chargeData.chargeTimeType.id==2">
					<label class="control-label col-sm-3">{{ 'label.input.dueon' | translate }}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input id="dueDate" name="dueDate" type="text" datepicker-pop="dd MMMM yyyy" class="form-control"
							   placeholder="{{'label.input.duedate' | translate}}" ng-model="first.date"
							   is-open="opened" min="minDate" readonly required late-Validate/>
						<form-validate valattributeform="loanchargeform" valattribute="dueDate"/>
					</div>
				</div>
			</div>

			<div class="ca-form-actions">
				<button id="cancel" type="reset" class="btn btn-default btn-sm" ng-click="cancel()">{{ 'label.button.cancel' | translate }}</button>
				<button id="save" type="submit" class="btn btn-primary btn-sm" has-permission='CREATE_LOANCHARGE' ng-show="!isCollapsed">{{ 'label.button.save' | translate }}</button>
			</div>

		</form>

	</div><!-- /.ca-card -->

</div>
