<div class="content-container" ng-controller="AddLoanCollateralController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{ 'label.heading.addloancollateral' | translate }}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-file-text-o"></i>
				<a href="#/viewloanaccount/{{loanId}}">{{'label.anchor.viewloanaccount' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">

		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-shield"></i> {{ 'label.heading.addloancollateral' | translate }}
		</div>

		<form name="addloancollateralform" class="form-horizontal" ng-submit="submit()">
			<api-validate></api-validate>

			<div class="form-group">
				<label class="control-label col-sm-3" for="collateralTypeId">{{ 'label.input.collateraltype' | translate }}<span class="required">*</span></label>
				<div class="col-sm-4">
					<select id="collateralTypeId" ng-model="formData.collateralTypeId" class="form-control"
							ng-options="collateralType.id as collateralType.name for collateralType in collateralTypes"
							value="{{collateralType.id}}"></select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="value">{{ 'label.input.value' | translate }}<span class="required">*</span></label>
				<div class="col-sm-4">
					<input id="value" name="value" type="text" class="form-control" ng-model="formData.value" required late-validate>
					<form-validate valattributeform="addloancollateralform" valattribute="value"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="description">{{ 'label.input.description' | translate }}</label>
				<div class="col-sm-4">
					<textarea id="description" class="form-control" ng-model="formData.description" rows="4"></textarea>
				</div>
			</div>

			<div class="ca-form-actions">
				<button id="cancel" type="reset" class="btn btn-default btn-sm" ng-click="cancel()">{{ 'label.button.cancel' | translate }}</button>
				<button id="save" type="submit" has-permission='CREATE_COLLATERAL' class="btn btn-primary btn-sm">{{ 'label.button.save' | translate }}</button>
			</div>

		</form>

	</div><!-- /.ca-card -->

</div>
