<div class="content-container" ng-controller="ApproveLoanRescheduleRequestController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.heading.approveloanreschedule' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-file-text-o"></i>
				<a href="#/viewloanaccount/{{loanId}}">{{'label.anchor.viewloanaccount' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-calendar"></i>
				<a href="#/loans/{{loanId}}/viewreschedulerequest/">{{'label.anchor.reschedulerequest' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">

		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-check-circle"></i> {{'label.heading.approveloanreschedule' | translate}}
		</div>

		<form name="approveloanrescheduleform" novalidate="" class="form-horizontal" rc-submit="submit()">
			<api-validate></api-validate>

			<div class="form-group">
				<label class="control-label col-sm-3">{{'label.input.approvedOnDate' | translate}}<span class="required">*</span></label>
				<div class="col-sm-4">
					<input id="approvedOnDate" type="text" name="approvedOnDate" datepicker-pop="dd MMMM yyyy"
						   class="form-control" ng-model="formData.approvedOnDate" is-open="opened" min="'2000-01-01'" max="restrictDate"/>
				</div>
			</div>

			<div class="ca-form-actions">
				<button id="cancel" ng-click="cancel()" class="btn btn-default btn-sm">{{ 'label.button.cancel' | translate }}</button>
				<button id="save" ng-click="approve()" type="submit" class="btn btn-primary btn-sm" has-permission="APPROVERESCHEDULE_LOAN">
					{{'label.button.save' | translate}}
				</button>
			</div>

		</form>

	</div><!-- /.ca-card -->

</div>
