<div class="content-container" ng-controller="CreditReportUploadThitsaWorksController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.heading.uploaddocument' | translate}}</h2>
		<div>
			<span class="ca-hero-chip" ng-if="!groupid"><i class="fa fa-users"></i>
				<a href="#/clients">{{'label.anchor.clients' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-user"></i>
				<a href="#/viewclient/{{clientId}}">{{displayName}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">

		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-upload"></i> {{'label.input.uploadcreditreport' | translate}}
		</div>

		<wizard current-step="step" on-finish="upload()">
			<wz-step icon="fa fa-circle-o" wz-title="{{'label.heading.uploaddocument' | translate}}">
				<form class="form-horizontal">
					<api-validate></api-validate>
					<div class="form-group">
						<label class="control-label col-sm-3" for="file">{{'label.input.uploadcreditreport' | translate}}<span class="required">*</span></label>
						<div class="col-sm-4">
							<input type="file" id="file" accept=".csv" class="form-control" ngf-select="onFileSelect($files)">
						</div>
						<div class="col-sm-2">
							<button type="button" class="btn btn-primary btn-sm" ng-click="upload()">
								{{'label.button.upload' | translate}}
							</button>
						</div>
					</div>
				</form>
			</wz-step>
		</wizard>

	</div><!-- /.ca-card -->

</div>
