<div class="content-container" ng-controller="EditLoanChargeController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{ 'label.heading.editloancharge' | translate }}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-file-text-o"></i>
				<a href="#/viewloanaccount/{{loanId}}">{{'label.anchor.viewloanaccount' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">

		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-pencil"></i> {{ 'label.heading.editloancharge' | translate }}
		</div>

		<form name="loanchargeform" novalidate="" class="form-horizontal" ng-submit="submit()">
			<api-validate></api-validate>

			<div class="form-group">
				<label class="control-label col-sm-3" for="amount">{{ 'label.input.amount' | translate }}<span class="required">*</span></label>
				<div class="col-sm-4">
					<input id="amount" ng-autofocus="true" class="form-control" type="text" name="amount" ng-model="formData.amount" required late-Validate/>
					<form-validate valattributeform="loanchargeform" valattribute="amount"/>
				</div>
			</div>

			<div class="ca-form-actions">
				<button id="cancel" type="reset" class="btn btn-default btn-sm" ng-click="cancel()">{{ 'label.button.cancel' | translate }}</button>
				<button id="save" type="submit" ng-disabled="!loanchargeform.$valid" has-permission='UPDATE_LOANCHARGE' class="btn btn-primary btn-sm">{{ 'label.button.save' | translate }}</button>
			</div>

		</form>

	</div><!-- /.ca-card -->

</div>
