<div class="content-container" ng-controller="LoanScreenReportController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.heading.loanscreenreport' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-file-text-o"></i>
				<a href="#/viewloanaccount/{{accountId}}">{{'label.anchor.viewloanaccount' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">

		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-print"></i> {{'label.heading.loanscreenreport' | translate}}
		</div>

		<div class="row">
			<div class="col-sm-3">
				<table class="table">
					<tr ng-repeat="templateData in loanTemplateData" ng-class="{graybg: templateData.id == selectedTemplate}">
						<td>
							<a ng-click="getLoanTemplate(templateData.id)">{{templateData.name}}</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="col-sm-9" ng-show="template">
				<span ng-bind-html="template"></span>
				<div class="ca-form-actions">
					<button type="button" data-ng-click="print(template)" class="btn btn-primary btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;{{'label.button.print' | translate}}</button>
				</div>
			</div>
		</div>

	</div><!-- /.ca-card -->

</div>
