<div class="content-container" ng-controller="ViewLoanCollateralDataController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.heading.viewcollateral' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-file-text-o"></i>
				<a href="#/viewloanaccount/{{loanId}}">{{'label.anchor.viewloanaccount' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">

		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-shield"></i> {{'label.heading.viewcollateral' | translate}}
		</div>

		<table class="table">
			<tr>
				<td class="width30">{{'label.heading.id' | translate}}</td>
				<td>{{collateral.collateralId}}</td>
			</tr>
			<tr>
				<td>{{'label.heading.quantity' | translate}}</td>
				<td>{{collateral.quantity}}</td>
			</tr>
			<tr>
				<td>{{'label.heading.totalValue' | translate}}</td>
				<td>{{collateral.total}}</td>
			</tr>
			<tr>
				<td>{{'label.heading.totalCollateralValue' | translate}}</td>
				<td>{{collateral.totalCollateral}}</td>
			</tr>
		</table>

	</div><!-- /.ca-card -->

</div>
