<div class="content-container" ng-controller="AccountingRuleController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.accountingrules' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-book"></i>
				<a href="#/accounting">{{'label.anchor.accounting' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-list-alt"></i> {{'label.anchor.accountingrules' | translate}}
			<a href="#/add_accrule" class="btn btn-primary btn-sm pull-right" has-permission='CREATE_ACCOUNTINGRULE'>
				<i class="fa fa-plus"></i> {{"label.button.addrule" | translate}}
			</a>
		</div>
		<table class="table" style="table-layout:fixed;">
			<thead>
				<tr class="graybg">
					<th>{{'label.heading.name' | translate}}</th>
					<th>{{'label.heading.office' | translate}}</th>
					<th>{{'label.heading.debittags' | translate}}</th>
					<th>{{'label.heading.debitaccount' | translate}}</th>
					<th>{{'label.heading.credittags' | translate}}</th>
					<th>{{'label.heading.creditaccount' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer-main" ng-repeat="rule in rules | orderBy:'name':reverse">
					<td class="pointer" data-ng-click="routeTo(rule.id)">{{rule.name}}</td>
					<td class="pointer" data-ng-click="routeTo(rule.id)">{{rule.officeName}}</td>
					<td class="pointer" data-ng-click="routeTo(rule.id)"><span ng-repeat="tags in rule.debitTags">{{tags.tag.name}}, </span></td>
					<td class="pointer" data-ng-click="routeTo(rule.id)">{{rule.debitAccounts[0].name}}</td>
					<td class="pointer" data-ng-click="routeTo(rule.id)"><span ng-repeat="tags in rule.creditTags">{{tags.tag.name}}, </span></td>
					<td class="pointer" data-ng-click="routeTo(rule.id)">{{rule.creditAccounts[0].name}}</td>
				</tr>
			</tbody>
		</table>
	</div><!-- /.ca-card -->

</div>
