<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/accounting">{{'label.anchor.accounting' | translate}}</a></li>
        <li><a href="#/spotrates">Daily Spot Rates</a></li>
        <li class="active">Create Spot Rate</li>
    </ul>
    <form name="createSpotRateForm" novalidate="" class="card form-horizontal well"
          ng-controller="CreateSpotRateController" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>Create Daily Spot Rate</legend>
            <div class="form-group">
                <label class="control-label col-sm-2">Office <span class="required">*</span></label>
                <div class="col-sm-3">
                    <select chosen="offices" id="officeId" ng-model="formData.officeId" class="form-control"
                            ng-options="office.id as office.name for office in offices"
                            name="officeId" required>
                        <option class="displaynone" value="">Select Office</option>
                    </select>
                    <form-validate valattributeform="createSpotRateForm" valattribute="officeId"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Currency Code <span class="required">*</span></label>
                <div class="col-sm-3">
                    <input type="text" id="currencyCode" name="currencyCode"
                           ng-model="formData.currencyCode" class="form-control"
                           placeholder="e.g. USD" required late-Validate/>
                    <form-validate valattributeform="createSpotRateForm" valattribute="currencyCode"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Rate Date <span class="required">*</span></label>
                <div class="col-sm-3">
                    <input class="form-control" id="rateDate" name="rateDate" type="text"
                           datepicker-pop="dd MMMM yyyy" ng-model="first.rateDate"
                           is-open="opened" max="restrictDate" required/>
                    <form-validate valattributeform="createSpotRateForm" valattribute="rateDate"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Spot Rate <span class="required">*</span></label>
                <div class="col-sm-3">
                    <input type="number" id="spotRate" name="spotRate" step="0.0001"
                           ng-model="formData.spotRate" class="form-control" required late-Validate/>
                    <form-validate valattributeform="createSpotRateForm" valattribute="spotRate"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Buying Rate <span class="required">*</span></label>
                <div class="col-sm-3">
                    <input type="number" id="buyingRate" name="buyingRate" step="0.0001"
                           ng-model="formData.buyingRate" class="form-control" required late-Validate/>
                    <form-validate valattributeform="createSpotRateForm" valattribute="buyingRate"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Selling Rate <span class="required">*</span></label>
                <div class="col-sm-3">
                    <input type="number" id="sellingRate" name="sellingRate" step="0.0001"
                           ng-model="formData.sellingRate" class="form-control" required late-Validate/>
                    <form-validate valattributeform="createSpotRateForm" valattribute="sellingRate"/>
                </div>
            </div>
            <div class="col-md-offset-5">
                <a id="cancel" href="#/spotrates" class="btn btn-default">Cancel</a>
                <button id="save" type="submit" class="btn btn-primary">Save</button>
            </div>
        </fieldset>
    </form>
</div>
