<div class="content-container" ng-controller="PeriodicAccrualAccountingController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{ 'label.heading.periodicaccrualaccounting' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-book"></i>
				<a href="#/accounting">{{'label.anchor.accounting' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-play-circle"></i> {{ 'label.heading.periodicaccrualaccounting' | translate}}
		</div>
		<api-validate></api-validate>
		<form class="form-horizontal" name="periodicaccrualform" novalidate="" ng-submit="submit()">
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-3" for="accrueTill">{{'label.periodicaccrual.tilldate' | translate}}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input id="accrueTill" sort type="text" datepicker-pop="dd MMMM yyyy" class="form-control" is-open="opened"
							ng-model="accrueTill" min="'2000-01-01'" max="restrictDate"/>
					</div>
				</div>
				<div class="ca-form-actions">
					<a id="cancel" href="#/accounting" class="btn btn-default btn-sm">{{ 'label.button.cancel' | translate }}</a>
					<button id="save" type="submit" class="btn btn-primary btn-sm" has-permission='EXECUTE_PERIODICACCRUALACCOUNTING'>
						<i class="fa fa-play"></i> {{ 'label.button.execute.periodic.accruals' | translate }}
					</button>
				</div>
			</fieldset>
		</form>
	</div><!-- /.ca-card -->

</div>
