<div class="content-container" ng-controller="SpotRateController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">Daily Spot Rates</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-book"></i>
				<a href="#/accounting">{{'label.anchor.accounting' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-dollar"></i> Daily Spot Rates
			<a href="#/createspotrate" class="btn btn-primary btn-sm pull-right">
				<i class="fa fa-plus"></i> Create Spot Rate
			</a>
		</div>
		<table class="table" style="table-layout:fixed;">
			<thead>
				<tr class="graybg">
					<th>Office</th>
					<th>Currency</th>
					<th>Rate Date</th>
					<th>Spot Rate</th>
					<th>Buying Rate</th>
					<th>Selling Rate</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer-main" ng-repeat="rate in spotRates">
					<td class="pointer" data-ng-click="routeTo(rate.id)">{{rate.officeName || rate.officeId}}</td>
					<td class="pointer" data-ng-click="routeTo(rate.id)">{{rate.currencyCode}}</td>
					<td class="pointer" data-ng-click="routeTo(rate.id)">{{rate.rateDate | DateFormat}}</td>
					<td class="pointer" data-ng-click="routeTo(rate.id)">{{rate.spotRate}}</td>
					<td class="pointer" data-ng-click="routeTo(rate.id)">{{rate.buyingRate}}</td>
					<td class="pointer" data-ng-click="routeTo(rate.id)">{{rate.sellingRate}}</td>
				</tr>
			</tbody>
		</table>
	</div><!-- /.ca-card -->

</div>
