<div ng-controller="ViewSpotRateController" class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/accounting">{{'label.anchor.accounting' | translate}}</a></li>
        <li><a href="#/spotrates">Daily Spot Rates</a></li>
        <li class="active">View Spot Rate</li>
    </ul>
    <api-validate></api-validate>
    <div class="card">
        <div class="content">
            <h3 class="bolder">Spot Rate Detail
                <div class="pull-right">
                    <div class="btn-group">
                        <a href="#/editspotrate/{{spotRate.id}}" class="btn btn-primary">
                            <i class="fa fa-edit"></i>&nbsp;Edit
                        </a>
                    </div>
                </div>
                <hr>
            </h3>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td><strong>Office</strong></td>
                        <td>{{spotRate.officeName || spotRate.officeId}}</td>
                    </tr>
                    <tr>
                        <td><strong>Currency Code</strong></td>
                        <td>{{spotRate.currencyCode}}</td>
                    </tr>
                    <tr>
                        <td><strong>Rate Date</strong></td>
                        <td>{{spotRate.rateDate | DateFormat}}</td>
                    </tr>
                    <tr>
                        <td><strong>Spot Rate</strong></td>
                        <td>{{spotRate.spotRate}}</td>
                    </tr>
                    <tr>
                        <td><strong>Buying Rate</strong></td>
                        <td>{{spotRate.buyingRate}}</td>
                    </tr>
                    <tr>
                        <td><strong>Selling Rate</strong></td>
                        <td>{{spotRate.sellingRate}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
