<div class="content-container" ng-controller="ViewAccountingClosureController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.viewclosure' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-book"></i>
				<a href="#/accounting">{{'label.anchor.accounting' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-lock"></i>
				<a href="#/accounts_closure">{{'label.anchor.accountclosure' | translate}}</a>
			</span>
		</div>
	</div>

	<script type="text/ng-template" id="deleteacc.html">
		<div class="modal-header silver">
			<h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
		</div>
		<div class="modal-body">
			<api-validate></api-validate>
			<br>
			<button class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
			<button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
		</div>
	</script>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-lock"></i> {{ 'label.heading.viewaccountingclosures' | translate }}
			<button class="btn btn-danger btn-sm pull-right" data-ng-click="deleteAcc()" has-permission='DELETE_GLCLOSURE'>
				<i class="fa fa-trash-o"></i> {{'label.button.delete' | translate}}
			</button>
		</div>
		<table class="table table-bordered" style="max-width:500px;">
			<tr>
				<td><strong>{{ 'label.heading.office' | translate }}:</strong></td>
				<td>{{accountClosure.officeName}}</td>
			</tr>
			<tr>
				<td><strong>{{ 'label.heading.closuredate' | translate }}:</strong></td>
				<td>{{accountClosure.closingDate | DateFormat}}</td>
			</tr>
			<tr>
				<td><strong>{{ 'label.heading.closedby' | translate }}:</strong></td>
				<td>{{accountClosure.createdByUsername}}</td>
			</tr>
			<tr>
				<td><strong>{{ 'label.heading.updatedby' | translate }}:</strong></td>
				<td>{{accountClosure.lastUpdatedByUsername}}</td>
			</tr>
			<tr>
				<td><strong>{{ 'label.heading.updatedon' | translate }}:</strong></td>
				<td>{{accountClosure.lastUpdatedDate | DateFormat}}</td>
			</tr>
			<tr>
				<td><strong>{{ 'label.heading.closurecreationdate' | translate }}:</strong></td>
				<td>{{accountClosure.createdDate | DateFormat}}</td>
			</tr>
			<tr>
				<td><strong>{{ 'label.heading.comments' | translate }}:</strong></td>
				<td>{{accountClosure.comments}}</td>
			</tr>
		</table>
	</div><!-- /.ca-card -->

</div>
