<div class="content-container" ng-controller="AddHolController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.createholiday' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cogs"></i>
				<a href="#/organization">{{'label.anchor.organization' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-calendar"></i>
				<a href="#/holidays">{{'label.anchor.manageholidays' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-plus-circle"></i> {{'label.heading.createholiday' | translate}}
		</div>
		<form name="addholidayform" novalidate="" class="form-horizontal" rc-submit="submit()">
			<api-validate></api-validate>
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-3">{{ 'label.input.name' | translate }}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input id="name" ng-autofocus="true" type="text" name="name" ng-model="formData.name" class="form-control" required late-Validate/>
					</div>
					<div class="col-sm-3">
						<form-validate valattributeform="addholidayform" valattribute="name"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">{{ 'label.input.fromdate' | translate }}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input id="fromDate" name="fromDate" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="date.first" is-open="opened" min="minDat" max="'2050-06-22'" class="form-control" required/>
						<span class="error" ng-if="firstError">{{ 'validation.msg.holiday.date.cannot.be.past.date' | translate }}</span>
						<form-validate valattributeform="addholidayform" valattribute="fromDate"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">{{ 'label.input.todate' | translate }}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input id="toDate" name="toDate" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="date.second" is-open="opened1" min="minDate" class="form-control" required/>
						<span class="error" ng-if="secondError">{{ 'validation.msg.holiday.date.cannot.be.past.date' | translate }}</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">{{ 'label.heading.repaymentscheduleing.rule' | translate }}<span class="required">*</span></label>
					<div class="col-sm-4">
						<select id="repaymentSchedulingRuleType" name="schedulingRule" class="form-control" ng-model="reschedulingType" ng-change="selectRescheduleType(reschedulingType)"
							ng-options="repaymentSchedulingRule.value | translate for repaymentSchedulingRule in repaymentSchedulingRules"
							value="{{repaymentSchedulingRule.id}}" required></select>
						<form-validate valattributeform="addholidayform" valattribute="schedulingRule"/>
					</div>
				</div>
				<div class="form-group" ng-show="reschedulingType.id == specificRescheduleType">
					<label class="control-label col-sm-3">{{ 'label.input.repaymentsheduleto' | translate }}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input id="repaymentsRescheduledTo" name="repaymentsRescheduledTo" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="date.third" is-open="opened2" min="minDate" class="form-control"/>
						<span class="error" ng-if="thirdError">{{ 'validation.msg.holiday.date.cannot.be.past.date' | translate }}</span>
						<form-validate valattributeform="addholidayform" valattribute="repaymentsRescheduledTo"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">{{ 'label.input.description' | translate }}</label>
					<div class="col-sm-4">
						<input type="text" data-ng-model="formData.description" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">{{ 'label.input.applicableoffices' | translate }}<span class="required">*</span></label>
					<div class="col-sm-5">
						<div data-angular-treeview="true" data-tree-id="holidaytreeview" data-tree-model="treedata" data-node-id="id" data-node-label="name" data-node-children="children"></div>
					</div>
				</div>
				<div class="ca-form-actions">
					<a id="cancel" class="btn btn-default btn-sm" href="#/holidays">{{'label.button.cancel' | translate}}</a>
					<button id="save" type="submit" class="btn btn-primary btn-sm" has-permission='CREATE_HOLIDAY'>{{'label.button.save' | translate}}</button>
				</div>
			</fieldset>
		</form>
	</div><!-- /.ca-card -->

</div>
