<div class="content-container" ng-controller="EditHolidayController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.editholiday' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cogs"></i>
				<a href="#/organization">{{'label.anchor.organization' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-calendar"></i>
				<a href="#/holidays">{{'label.anchor.manageholidays' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-eye"></i>
				<a href="#/viewholiday/{{holiday.id}}">{{holiday.name}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-pencil"></i> {{'label.heading.editholiday' | translate}}
		</div>
		<form name="addholidayform" novalidate="" class="form-horizontal" rc-submit="submit()">
			<api-validate></api-validate>
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-3">{{ 'label.input.name' | translate }}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input id="name" ng-autofocus="true" type="text" name="name" ng-model="formData.name" class="form-control" required late-Validate/>
					</div>
					<div class="col-sm-3">
						<form-validate valattributeform="addholidayform" valattribute="name"/>
					</div>
				</div>
				<div ng-hide="holidayStatusActive">
					<div class="form-group">
						<label class="control-label col-sm-3">{{ 'label.input.fromdate' | translate }}<span class="required">*</span></label>
						<div class="col-sm-4">
							<input id="fromDate" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="date.fromDate" is-open="opened" min="minDat" max="'2050-06-22'" class="form-control"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">{{ 'label.input.todate' | translate }}<span class="required">*</span></label>
						<div class="col-sm-4">
							<input id="toDate" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="date.toDate" is-open="opened1" min="minDate" class="form-control"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">{{ 'label.heading.repaymentscheduleing.rule' | translate }}<span class="required">*</span></label>
						<div class="col-sm-4">
							<select id="repaymentSchedulingRuleType" name="schedulingRule" class="form-control" ng-model="reschedulingType" ng-options="repaymentSchedulingRule.value | translate for repaymentSchedulingRule in repaymentSchedulingRules" value="{{repaymentSchedulingRule.id}}" ng-change="selectRescheduleType(reschedulingType)" required></select>
							<form-validate valattributeform="addholidayform" valattribute="schedulingRule"/>
						</div>
					</div>
					<div class="form-group" ng-show="reschedulingType.id == specificRescheduleType">
						<label class="control-label col-sm-3">{{ 'label.input.repaymentsheduleto' | translate }}<span class="required">*</span></label>
						<div class="col-sm-4">
							<input id="repaymentsRescheduledTo" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="date.repaymentsRescheduledTo" is-open="opened2" min="minDate" class="form-control"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">{{ 'label.input.description' | translate }}</label>
					<div class="col-sm-4">
						<input type="text" data-ng-model="formData.description" class="form-control"/>
					</div>
				</div>
				<div class="ca-form-actions">
					<a class="btn btn-default btn-sm" id="cancel" href="#/viewholiday/{{holiday.id}}">{{'label.button.cancel' | translate}}</a>
					<button id="save" type="submit" class="btn btn-primary btn-sm" has-permission='UPDATE_HOLIDAY'>{{'label.button.save' | translate}}</button>
				</div>
			</fieldset>
		</form>
	</div><!-- /.ca-card -->

</div>
