<div class="content-container" ng-controller="ManageFundsController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.managefunds' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cogs"></i>
				<a href="#/organization">{{'label.anchor.organization' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-money"></i> {{'label.heading.managefunds' | translate}}
		</div>
		<form name="managefundform" novalidate>
			<div class="row" style="margin-bottom:12px;">
				<div class="col-sm-5">
					<input name="fund" class="form-control" ng-model="newfund" placeholder="{{'label.input.newfund' | translate}}" type="text" required />
				</div>
				<div class="col-sm-1">
					<a class="btn btn-primary btn-sm" ng-click='addFund()' has-permission='CREATE_FUND'><i class="fa fa-plus"></i></a>
				</div>
				<div class="col-sm-4">
					<span ng-show="managefundform.fund.$invalid || funderror">
						<small class="error" ng-show="managefundform.fund.$error.req || addfunderror">{{ 'label.requiredfield' | translate }}</small>
					</span>
				</div>
			</div>
			<div ng-repeat="fund in funds">
				<div class="row" style="margin-bottom:8px;">
					<div class="col-sm-5">
						<input data-ng-hide="fund.edit" disabled="" class="form-control" placeholder={{fund.name}} type="text"/>
						<input data-ng-show="fund.edit" class="form-control" data-ng-model="formData[fund.id]" type="text" required/>
					</div>
					<div class="col-sm-2">
						<a data-ng-hide="fund.edit" class="btn btn-primary btn-sm" has-permission='UPDATE_FUND' data-ng-click="editFund(fund,fund.name,fund.id)"><i class="fa fa-edit"></i></a>
						<a data-ng-show="fund.edit" class="btn btn-primary btn-sm" has-permission='UPDATE_FUND' data-ng-click="saveFund(fund.id)">{{'label.anchor.save' | translate}}</a>
					</div>
					<div class="col-sm-3">
						<span ng-show="managefundform.fund.$invalid || funderror[fund.id]">
							<small class="error" ng-show="managefundform.fund.$error.req || funderror[fund.id]">{{ 'label.requiredfield' | translate }}</small>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div><!-- /.ca-card -->

</div>
