<div class="content-container" ng-controller="ViewEmployeeController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{employee.firstname}}&nbsp;{{employee.lastname}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cogs"></i>
				<a href="#/organization">{{'label.anchor.organization' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-users"></i>
				<a href="#/employees">{{'label.anchor.manageemployees' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-user"></i> {{employee.displayName}}
			<span class="pull-right">
				<a href="#/editemployee/{{employee.id}}" class="btn btn-primary btn-sm" has-permission='UPDATE_STAFF'><i class="fa fa-edit"></i>&nbsp;{{'label.button.edit' | translate}}</a>
			</span>
		</div>
		<table class="table table-bordered table-striped" style="max-width:450px;">
			<tr>
				<td>{{ 'label.heading.firstname' | translate }}</td>
				<td>{{employee.firstname}}</td>
			</tr>
			<tr>
				<td>{{ 'label.heading.lastname' | translate }}</td>
				<td>{{employee.lastname}}</td>
			</tr>
			<tr>
				<td>{{ 'label.heading.office' | translate }}</td>
				<td>{{employee.officeName}}</td>
			</tr>
			<tr>
				<td>{{ 'label.heading.isLoanOfficer' | translate }}</td>
				<td>{{employee.isLoanOfficer}}</td>
			</tr>
			<tr>
				<td>{{ 'label.heading.mobileNo' | translate }}</td>
				<td>{{employee.mobileNo}}</td>
			</tr>
			<tr>
				<td>{{ 'label.active' | translate }}</td>
				<td>{{employee.isActive}}</td>
			</tr>
			<tr>
				<td>{{ 'label.heading.joiningDate' | translate }}</td>
				<td>{{employee.joiningDate | DateFormat}}</td>
			</tr>
		</table>
	</div><!-- /.ca-card -->

</div>
