<div class="content-container" ng-controller="EditWorkingDaysController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.workingDays' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cogs"></i>
				<a href="#/organization">{{'label.anchor.organization' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-calendar-check-o"></i> {{'label.heading.workingDays' | translate}}
		</div>
		<form class="form-horizontal" ng-submit="submit()">
			<api-validate></api-validate>
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-3">{{ 'label.input.workingDays' | translate }}</label>
					<div class="col-sm-6">
						<div ng-repeat="workingDay in workingDays">
							<input id="workingDay.value" type="checkbox" value="workingDay.value" ng-model="workingDay.value">
							<label for="workingDay.value">&nbsp;{{''+workingDay.code+'' | translate}}</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">{{ 'label.input.paymentsDueOnHolidays' | translate }}</label>
					<div class="col-sm-4">
						<select id="repaymentReschedule" ng-model="selectedRepaymentType" class="form-control"
							ng-options="repaymentRescheduleType.id as repaymentRescheduleType.code | translate for repaymentRescheduleType in repaymentRescheduleOptions"
							value="{{repaymentRescheduleType.id}}">
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">{{ 'label.input.extendTermForDailyRepayments' | translate }}</label>
					<div class="col-sm-4">
						<input type="checkbox" ng-model="extendTermForDailyRepayments">
					</div>
				</div>
				<div class="ca-form-actions">
					<a href="#/organization" class="btn btn-default btn-sm">{{'label.button.cancel' | translate}}</a>
					<button type="submit" class="btn btn-primary btn-sm" has-permission='UPDATE_WORKINGDAYS'>{{'label.button.save' | translate}}</button>
				</div>
			</fieldset>
		</form>
	</div><!-- /.ca-card -->

</div>
