<div class="content-container" data-ng-controller="AccountNumberPreferencesController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.accountNumberPreferences' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cog"></i>
				<a href="#/system">{{'label.anchor.system' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-hashtag"></i> {{'label.anchor.accountNumberPreferences' | translate}}
			<span class="pull-right">
				<a href="#/addaccountnumberpreferences" class="btn btn-primary btn-sm" has-permission='ADD_PREFERENCES'><i class="fa fa-plus"></i>&nbsp;{{'label.button.addpreferences' | translate}}</a>
			</span>
		</div>
		<div class="row" style="margin-bottom:12px;">
			<div class="col-sm-4">
				<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
			</div>
		</div>
		<table class="table">
			<thead>
				<tr class="graybg">
					<th>{{'label.heading.accountNumberPreferences' | translate}}</th>
					<th>{{'label.heading.prefix' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer-main" data-ng-repeat="preference in preferences | filter:filterText">
					<td class="pointer" data-ng-click="routeTo(preference.id)">{{preference["accountType"].value}}</td>
					<td class="pointer" data-ng-click="routeTo(preference.id)">{{preference["prefixType"].value}}</td>
				</tr>
			</tbody>
		</table>
	</div><!-- /.ca-card -->

</div>
