<div class="content-container" ng-controller="AddCodeController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.addcode' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cog"></i>
				<a href="#/system">{{'label.anchor.system' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-tags"></i>
				<a href="#/codes">{{'label.anchor.managecodes' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-plus"></i> {{'label.heading.addcode' | translate}}
		</div>
		<form name="addcodeform" novalidate="" class="form-horizontal" rc-submit="submit()">
			<api-validate></api-validate>
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-3" for="codename">{{'label.input.codename' | translate}}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input type="text" id="codename" name="codename" ng-model="formData.name" class="form-control" required late-Validate/>
					</div>
					<div class="col-sm-3">
						<form-validate valattributeform="addcodeform" valattribute="codename"/>
					</div>
				</div>
				<div class="ca-form-actions">
					<a href="#/codes" class="btn btn-default btn-sm">{{'label.button.cancel' | translate}}</a>
					<button type="submit" class="btn btn-primary btn-sm" has-permission='CREATE_CODE'>{{'label.button.save' | translate}}</button>
				</div>
			</fieldset>
		</form>
	</div><!-- /.ca-card -->

</div>
