<div class="content-container" data-ng-controller="CodeController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.managecodes' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cog"></i>
				<a href="#/system">{{'label.anchor.system' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-tags"></i> {{'label.anchor.managecodes' | translate}}
			<span class="pull-right">
				<a href="#/addcode" class="btn btn-primary btn-sm" has-permission='CREATE_CODE'><i class="fa fa-plus"></i>&nbsp;{{'label.button.addcode' | translate}}</a>
			</span>
		</div>
		<div class="row" style="margin-bottom:12px;">
			<div class="col-sm-4">
				<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
			</div>
		</div>
		<table class="table">
			<thead>
				<tr class="graybg">
					<th>{{'label.heading.codename' | translate}}</th>
					<th>{{'label.heading.systemdefined' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer-main" dir-paginate="code in codes | filter:{name:filterText} | itemsPerPage: CodesPerPage">
					<td class="pointer" data-ng-click="routeTo(code.id)">{{code.name | translate}}</td>
					<td class="pointer" data-ng-click="routeTo(code.id)">{{code.systemDefined}}</td>
				</tr>
			</tbody>
		</table>
		<dir-pagination-controls boundary-links="true" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
	</div><!-- /.ca-card -->

</div>
