<div class="content-container" ng-controller="EditSchedulerJobController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{job.displayName}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cog"></i>
				<a href="#/system">{{'label.anchor.system' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-clock-o"></i>
				<a href="#/jobs">{{'label.anchor.manageschedulerjobs' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-eye"></i>
				<a href="#/viewschedulerjob/{{job.jobId}}">{{job.displayName}}</a>
			</span>
		</div>
	</div>

	<api-validate></api-validate>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-pencil"></i> {{'label.anchor.editschedulerjob' | translate}}
		</div>
		<form class="form-horizontal" ng-submit="submit()">
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-3">{{'label.input.jobname' | translate}}</label>
					<div class="col-sm-4">
						<input id="displayName" type="text" ng-model="formData.displayName" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">{{'label.input.cornexpression' | translate}}</label>
					<div class="col-sm-4">
						<input id="cronExpression" type="text" ng-model="formData.cronExpression" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">{{'label.input.isactivejob' | translate}}</label>
					<div class="col-sm-4">
						<label class="checkbox">
							<input type="checkbox" ng-model="formData.active">
						</label>
					</div>
				</div>
				<div class="ca-form-actions">
					<button id="cancel" type="reset" ng-click="cancel()" class="btn btn-default btn-sm">{{'label.button.cancel' | translate}}</button>
					<button id="save" type="submit" class="btn btn-primary btn-sm" has-permission='UPDATE_SCHEDULER'>{{'label.button.save' | translate}}</button>
				</div>
			</fieldset>
		</form>
	</div><!-- /.ca-card -->

</div>
