<div class="content-container" data-ng-controller="EditAccountNumberPreferencesController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.editAccountNumberPreferences' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-hashtag"></i>
				<a href="#/accountnumberpreferences">{{'label.anchor.accountNumberPreferences' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-pencil"></i> {{'label.heading.editAccountNumberPreferences' | translate}}
		</div>
		<form name="editprefform" novalidate="" class="form-horizontal" rc-submit="submit()">
			<api-validate></api-validate>
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-3">{{'label.input.accountType' | translate}}<span class="required">*</span></label>
					<div class="col-sm-4">{{accountType}}</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">{{'label.input.addPrefix' | translate}}</label>
					<div class="col-sm-4">
						<input id="activeCheckbox" type="checkbox" ng-model="addPrefix">
					</div>
				</div>
				<div class="form-group" ng-show="addPrefix">
					<label class="control-label col-sm-3">{{'label.input.prefixField' | translate}}</label>
					<div class="col-sm-4">
						<select chosen="prefixTypeOptions" id="prefixType" ng-model="formData.prefixType" class="form-control" ng-options="accountNumberPrefixType.id as accountNumberPrefixType.value for accountNumberPrefixType in prefixTypeOptions" value="{{accountNumberPrefixType.id}}" ng-change="accountNumberPrefix(formData.prefixType)"></select>
					</div>
					<div class="col-sm-3" ng-show="addCharacter">
						<input type="text" name="prefixCharacter" ng-model="formData.prefixCharacter" ng-maxlength="maxlength"/>
						<span style="color:red" ng-show="editprefform.prefixCharacter.$error.maxlength">Prefix should NOT EXCEED length of the Account Number Length</span>
					</div>
				</div>
				<div class="ca-form-actions">
					<button id="cancel" type="reset" class="btn btn-default btn-sm" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
					<button id="submit" type="button" class="btn btn-primary btn-sm" ng-click="submit()" has-permission='UPDATE_ACCOUNTNUMBERFORMAT'>{{'label.button.save' | translate}}</button>
				</div>
			</fieldset>
		</form>
	</div><!-- /.ca-card -->

</div>
