<div class="content-container" ng-controller="ReportsController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.managereports' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cog"></i>
				<a href="#/system">{{'label.anchor.system' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-bar-chart"></i> {{'label.anchor.managereports' | translate}}
			<span class="pull-right">
				<a href="#/createreport" class="btn btn-primary btn-sm" has-permission='CREATE_REPORT'><i class="fa fa-plus"></i>&nbsp;{{'label.button.createreport' | translate}}</a>
			</span>
		</div>
		<div class="row" style="margin-bottom:12px;">
			<div class="col-sm-4">
				<input ng-autofocus="true" ng-model="filterText" ng-keyup="onFilter()" type="text" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
			</div>
		</div>
		<table class="table">
			<thead>
				<tr class="graybg">
					<th>{{'label.heading.reportname' | translate}}</th>
					<th>{{'label.heading.reporttype' | translate}}</th>
					<th>{{'label.heading.reportsubtype' | translate}}</th>
					<th>{{'label.heading.reportcategory' | translate}}</th>
					<th>{{'label.heading.corereport' | translate}}</th>
					<th>{{'label.heading.userreport' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer-main" dir-paginate="report in reports | orderBy:'reportName':reverse | filter:{reportName:filterText} | itemsPerPage: ReportsPerPage">
					<td class="pointer" data-ng-click="routeTo(report.id)">{{report.reportName}}</td>
					<td class="pointer" data-ng-click="routeTo(report.id)">{{report.reportType}}</td>
					<td class="pointer" data-ng-click="routeTo(report.id)">{{report.reportSubType}}</td>
					<td class="pointer" data-ng-click="routeTo(report.id)">{{report.reportCategory}}</td>
					<td class="pointer" data-ng-click="routeTo(report.id)">{{report.coreReport}}</td>
					<td class="pointer" data-ng-click="routeTo(report.id)">{{report.useReport}}</td>
				</tr>
			</tbody>
		</table>
		<dir-pagination-controls boundary-links="true" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
	</div><!-- /.ca-card -->

</div>
