<div class="content-container" ng-controller="ViewMakerCheckerTaskController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.viewcheckerinbox' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-tasks"></i>
				<a href="#/tasks">{{'label.anchor.tasks' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-check-square-o"></i> {{'label.heading.makercheckertask.waiting.for.approval' | translate}}
		</div>
		<div>
			<h4 class="paddedleft">{{'label.makerchecker.task.created.description' | translate}}</h4>
			<h4 class="paddedleft">{{'label.makerchecker.task.created.description.view.details' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#/viewcheckerinbox/{{commandId}}" class="btn btn-primary btn-sm">{{'label.button.details' | translate}}</a>
			</h4>
		</div>
	</div><!-- /.ca-card -->

</div>
