<div class="content-container" ng-controller="ChargeController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.charges' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cube"></i>
				<a href="#/products">{{'label.anchor.products' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-tag"></i> {{'label.anchor.charges' | translate}}
			<span class="pull-right">
				<a href="#/createcharge" class="btn btn-primary btn-sm" has-permission='CREATE_CHARGE'><i class="fa fa-plus"></i>&nbsp;{{'label.button.createcharge' | translate}}</a>
			</span>
		</div>
		<div class="row" style="margin-bottom:12px;">
			<div class="col-sm-4">
				<input ng-model="filterText" type="text" class="form-control" ng-keyup="onFilter()" placeholder="{{'label.input.filterbyname' | translate}}">
			</div>
		</div>
		<table class="table">
			<thead>
				<tr class="graybg">
					<th>{{'label.heading.name' | translate}}</th>
					<th>{{'label.heading.chargeappliesto' | translate}}</th>
					<th>{{'label.heading.ispenalty' | translate}}</th>
					<th>{{'label.heading.status' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer-main" dir-paginate="charge in charges | orderBy:'name':reverse | filter:{name:filterText} | itemsPerPage: ChargesPerPage">
					<td class="pointer" data-ng-click="routeTo(charge.id)">{{charge.name}}</td>
					<td class="pointer" data-ng-click="routeTo(charge.id)">{{charge.chargeAppliesTo.code | translate}}</td>
					<td class="pointer" data-ng-click="routeTo(charge.id)">{{charge.penalty}}</td>
					<td class="pointer" data-ng-click="routeTo(charge.id)">
						<i class="fa fa-stop {{'charges.StatusType.active.' + charge.active | StatusLookup}}" uib-tooltip="{{'label.tooltip.charges.active.' + charge.active | translate}}" tooltip-placement="right"></i>
					</td>
				</tr>
			</tbody>
		</table>
		<dir-pagination-controls boundary-links="true" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
	</div><!-- /.ca-card -->

</div>
