<div class="content-container" ng-controller="CreateCollateralController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.createcollateral' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cube"></i>
				<a href="#/products">{{'label.anchor.products' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-lock"></i>
				<a href="#/collaterals">{{'label.anchor.collaterals' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-plus"></i> {{'label.heading.createcollateral' | translate}}
		</div>
		<form name="createcollateralform" class="form-horizontal" ng-submit="submit()">
			<api-validate></api-validate>
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-3" for="name">{{'label.input.name' | translate}}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input id="name" name="name" type="text" class="form-control" ng-model="formData.name" required late-validate>
					</div>
					<div class="col-sm-2">
						<form-validate valattributeform="createcollateralform" valattribute="name"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3" for="quality">{{'label.input.type' | translate}}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input id="quality" name="quality" type="text" class="form-control" ng-model="formData.quality" required late-validate>
					</div>
					<div class="col-sm-2">
						<form-validate valattributeform="createcollateralform" valattribute="quality"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3" for="unitType">{{'label.input.unittype' | translate}}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input id="unitType" class="form-control" ng-model="formData.unitType" required late-validate>
					</div>
					<div class="col-sm-3">
						<form-validate valattributeform="createcollateralform" valattribute="unitType"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3" for="basePrice">{{'label.input.baseprice' | translate}}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input id="basePrice" name="basePrice" type="text" ng-model="formData.basePrice" class="form-control" number-format required late-Validate/>
					</div>
					<div class="col-sm-3">
						<form-validate valattributeform="createcollateralform" valattribute="basePrice"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3" for="pctToBase">{{'label.input.pcttobase' | translate}}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input id="pctToBase" name="pctToBase" type="text" ng-model="formData.pctToBase" class="form-control" number-format required late-Validate/>
					</div>
					<div class="col-sm-3">
						<form-validate valattributeform="createcollateralform" valattribute="pctToBase"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3" for="currency">{{'label.input.currency' | translate}}<span class="required">*</span></label>
					<div class="col-sm-4">
						<select id="currency" name="currency" ng-model="formData.currency" class="form-control" ng-options="currency.code as currency.name for currency in currencyOptions" value="{{currency.code}}"></select>
					</div>
				</div>
				<div class="ca-form-actions">
					<button id="cancel" type="reset" class="btn btn-default btn-sm" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
					<button id="save" type="submit" has-permission='CREATE_COLLATERAL_PRODUCT' class="btn btn-primary btn-sm">{{'label.button.save' | translate}}</button>
				</div>
			</fieldset>
		</form>
	</div><!-- /.ca-card -->

</div>
