<div class="content-container" ng-controller="EditRateController">
	<api-validate></api-validate>

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.editrate' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cube"></i>
				<a href="#/products">{{'label.anchor.products' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-bar-chart-o"></i>
				<a href="#/rates">{{'label.anchor.rates' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-pencil"></i> {{'label.anchor.editrate' | translate}}
		</div>
		<form name="editrateform" novalidate class="form-horizontal" rc-submit="submit()">
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-3">{{'label.heading.rateappliesto' | translate}}</label>
					<div class="col-sm-4">
						<input type="text" id="productApply" ng-model="formData.productApply" value="{{formData.productApply | translate}}" ng-disabled="true" class="form-control"/>
					</div>
				</div>
				<hr/>
				<div class="form-group">
					<label class="control-label col-sm-3" for="name">{{'label.input.name' | translate}}</label>
					<div class="col-sm-4">
						<input name="name" ng-autofocus="true" type="text" id="name" ng-model="formData.name" class="form-control" ng-disabled="true"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">{{'label.input.percentage' | translate}}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input name="percentage" type="text" id="percentage" number-format ng-model="formData.percentage" class="form-control" required late-Validate/>
						<form-validate valattributeform="editrateform" valattribute="percentage"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3" for="active">{{'label.input.active' | translate}}</label>
					<div class="col-sm-4">
						<label class="checkbox">
							<input id="active" type="checkbox" ng-model="formData.active">
						</label>
					</div>
				</div>
				<div class="ca-form-actions">
					<a href="#/viewrate/{{formData.id}}" class="btn btn-default btn-sm">{{'label.button.cancel' | translate}}</a>
					<button id="save" type="submit" class="btn btn-primary btn-sm" has-permission='UPDATE_RATE'>{{'label.button.save' | translate}}</button>
				</div>
			</fieldset>
		</form>
	</div><!-- /.ca-card -->

</div>
