<div class="content-container" ng-controller="RecurringDepositProductController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.recurringdepositproducts' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cube"></i>
				<a href="#/products">{{'label.anchor.products' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-refresh"></i> {{'label.anchor.recurringdepositproducts' | translate}}
			<span class="pull-right">
				<a href="#/createrecurringdepositproduct" class="btn btn-primary btn-sm" has-permission='CREATE_RECURRINGDEPOSITPRODUCT'><i class="fa fa-plus"></i>&nbsp;{{'label.button.createrecurringdepositproduct' | translate}}</a>
			</span>
		</div>
		<div class="row" style="margin-bottom:12px;">
			<div class="col-sm-4">
				<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbynameshortname' | translate}}">
			</div>
		</div>
		<table class="table">
			<thead>
				<tr class="graybg">
					<th>{{'label.heading.name' | translate}}</th>
					<th>{{'label.heading.shortname' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer-main" dir-paginate="product in depositproducts | orderBy:'name':reverse | filter:filterText | itemsPerPage: RecurringDepositsPerPage">
					<td class="pointer" data-ng-click="routeTo(product.id)">{{product.name}}</td>
					<td class="pointer" data-ng-click="routeTo(product.id)">{{product.shortName}}</td>
				</tr>
			</tbody>
		</table>
		<dir-pagination-controls boundary-links="true" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
	</div><!-- /.ca-card -->

</div>
