<div class="content-container" ng-controller="ViewCollateralController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{collateral.name}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cube"></i>
				<a href="#/products">{{'label.anchor.products' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-lock"></i>
				<a href="#/collaterals">{{'label.anchor.collaterals' | translate}}</a>
			</span>
		</div>
	</div>

	<script type="text/ng-template" id="deletecollateralprod.html">
		<div class="modal-header silver">
			<h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
		</div>
		<div class="modal-body">
			<api-validate></api-validate>
			<br>
			<button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
			<button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
		</div>
	</script>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-eye"></i> {{collateral.name}}
			<span class="pull-right">
				<a href="#/editcollateral/{{collateralId}}" class="btn btn-primary btn-sm" has-permission='UPDATE_COLLATERAL_PRODUCT'><i class="fa fa-edit"></i>&nbsp;{{'label.button.edit' | translate}}</a>
				<button type="button" data-ng-click="deleteCollateral()" class="btn btn-danger btn-sm" has-permission='DELETE_COLLATERAL_PRODUCT'><i class="fa fa-trash-o"></i>&nbsp;{{'label.button.delete' | translate}}</button>
			</span>
		</div>
		<div class="row">
			<div class="col-md-6">
				<table class="table table-bordered table-striped">
					<tr>
						<td>{{'label.heading.name' | translate}}</td>
						<td>{{collateral.name}}</td>
					</tr>
					<tr>
						<td>{{'label.heading.quality' | translate}}</td>
						<td>{{collateral.quality}}</td>
					</tr>
					<tr>
						<td>{{'label.heading.basePrice' | translate}}</td>
						<td>{{collateral.basePrice}}</td>
					</tr>
					<tr>
						<td>{{'label.heading.pctToBase' | translate}}</td>
						<td>{{collateral.pctToBase}}</td>
					</tr>
					<tr>
						<td>{{'label.heading.unitType' | translate}}</td>
						<td>{{collateral.unitType}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div><!-- /.ca-card -->

</div>
