<div class="content-container" ng-controller="ViewRateController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{rate.name}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cube"></i>
				<a href="#/products">{{'label.anchor.products' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-bar-chart-o"></i>
				<a href="#/rates">{{'label.anchor.rates' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-eye"></i> {{rate.name}}
			<span class="pull-right">
				<a href="#/editrate/{{rate.id}}" class="btn btn-primary btn-sm" has-permission='UPDATE_RATE'><i class="fa fa-edit"></i>&nbsp;{{'label.button.edit' | translate}}</a>
			</span>
		</div>
		<div class="row">
			<div class="col-md-6">
				<table class="table table-bordered table-striped">
					<tr>
						<td>{{'label.heading.percentage' | translate}}</td>
						<td>{{rate.percentage | number}}</td>
					</tr>
					<tr>
						<td>{{'label.heading.active' | translate}}</td>
						<td>{{rate.active | YesOrNo | translate}}</td>
					</tr>
					<tr>
						<td>{{'label.heading.rateappliesto' | translate}}</td>
						<td>{{rate.productApply | translate}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div><!-- /.ca-card -->

</div>
