<div class="content-container" ng-controller="EditTaxComponentController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.edittaxcomponent' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cube"></i>
				<a href="#/products">{{'label.anchor.products' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-percent"></i>
				<a href="#/taxconfiguration">{{'label.anchor.managetaxconfigurations' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-building"></i>
				<a href="#/taxcomponents">{{'label.anchor.managetaxcomponents' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-pencil"></i> {{'label.heading.edittaxcomponent' | translate}}
		</div>
		<form name="edittaxcomponentform" novalidate="" class="form-horizontal" rc-submit="submit()">
			<api-validate></api-validate>
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-3">{{'label.input.name' | translate}}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input id="name" ng-autofocus="true" type="text" name="name" ng-model="formData.name" class="form-control" required late-Validate/>
					</div>
					<div class="col-sm-3">
						<form-validate valattributeform="edittaxcomponentform" valattribute="name"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">{{'label.input.percentage' | translate}}<span class="required">*</span></label>
					<div class="col-sm-4">
						<input id="percentage" type="text" name="percentage" ng-model="formData.percentage" class="form-control" number-format required late-Validate/>
					</div>
					<div class="col-sm-3">
						<form-validate valattributeform="edittaxcomponentform" valattribute="percentage"/>
					</div>
				</div>
				<div class="form-group" ng-show="taxComponent.debitAccountType">
					<label class="text-right col-sm-3">{{'label.input.debitaccounttype' | translate}}</label>
					<div class="col-sm-4">{{taxComponent.debitAccountType.code | translate}}</div>
				</div>
				<div class="form-group" ng-show="taxComponent.debitAccount">
					<label class="text-right col-sm-3">{{'label.input.debitaccount' | translate}}</label>
					<div class="col-sm-4">{{taxComponent.debitAccount.name}}</div>
				</div>
				<div class="form-group" ng-show="taxComponent.creditAccountType">
					<label class="text-right col-sm-3">{{'label.input.creditaccounttype' | translate}}</label>
					<div class="col-sm-4">{{taxComponent.creditAccountType.code | translate}}</div>
				</div>
				<div class="form-group" ng-show="taxComponent.creditAccount">
					<label class="text-right col-sm-3">{{'label.input.creditaccount' | translate}}</label>
					<div class="col-sm-4">{{taxComponent.creditAccount.name}}</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">{{'label.input.startdate' | translate}}</label>
					<div class="col-sm-4">
						<input id="startDate" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="start.date" class="form-control" is-open="opened" min="minDate" max="restrictDate"/>
					</div>
				</div>
				<div class="ca-form-actions">
					<a href="#/viewtaxcomponent/{{taxComponent.id}}" class="btn btn-default btn-sm">{{'label.button.cancel' | translate}}</a>
					<button id="save" type="submit" class="btn btn-primary btn-sm" has-permission='UPDATE_TAXCOMPONENT'>{{'label.button.save' | translate}}</button>
				</div>
			</fieldset>
		</form>
	</div><!-- /.ca-card -->

</div>
