<div class="content-container">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.managetaxconfigurations' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cube"></i>
				<a href="#/products">{{'label.anchor.products' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-percent"></i> {{'label.anchor.managetaxconfigurations' | translate}}
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="list-group">
					<a class="list-group-item" href="#/taxcomponents" has-permission='READ_TAXCOMPONENT'>
						<h4 class="list-group-item-heading"><i class="fa fa-building fa-large"></i>&nbsp;&nbsp;{{'label.anchor.managetaxcomponents' | translate}}</h4>
						<p class="list-group-item-text">{{'label.view.taxcomponent' | translate}}</p>
					</a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="list-group">
					<a class="list-group-item" href="#/taxgroups" has-permission='READ_TAXGROUP'>
						<h4 class="list-group-item-heading"><i class="fa fa-cogs fa-large"></i>&nbsp;&nbsp;{{'label.anchor.managetaxgroup' | translate}}</h4>
						<p class="list-group-item-text">{{'label.view.taxgroup' | translate}}</p>
					</a>
				</div>
			</div>
		</div>
	</div><!-- /.ca-card -->

</div>
