<div class="content-container" ng-controller="TaxComponentController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{'label.anchor.managetaxcomponents' | translate}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cube"></i>
				<a href="#/products">{{'label.anchor.products' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-percent"></i>
				<a href="#/taxconfiguration">{{'label.anchor.managetaxconfigurations' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-building"></i> {{'label.anchor.managetaxcomponents' | translate}}
			<span class="pull-right">
				<a href="#/createtaxcomponent" class="btn btn-primary btn-sm" has-permission='CREATE_TAXCOMPONENT'><i class="fa fa-plus"></i>&nbsp;{{'label.button.createtaxcomponent' | translate}}</a>
			</span>
		</div>
		<table class="table">
			<thead>
				<tr class="graybg">
					<th>{{'label.heading.name' | translate}}</th>
					<th>{{'label.heading.percentage' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer-main" ng-repeat="taxcomponent in taxcomponents | orderBy:'name':reverse | filter:filterText">
					<td class="pointer" data-ng-click="routeTo(taxcomponent.id)">{{taxcomponent.name}}</td>
					<td class="pointer" data-ng-click="routeTo(taxcomponent.id)">{{taxcomponent.percentage | number}}</td>
				</tr>
			</tbody>
		</table>
	</div><!-- /.ca-card -->

</div>
