<div class="content-container" ng-controller="ViewTaxGroupController">

	<!-- Hero -->
	<div class="ca-page-hero">
		<h2 class="ca-page-title">{{taxgroup.name}}</h2>
		<div>
			<span class="ca-hero-chip"><i class="fa fa-cube"></i>
				<a href="#/products">{{'label.anchor.products' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-percent"></i>
				<a href="#/taxconfiguration">{{'label.anchor.managetaxconfigurations' | translate}}</a>
			</span>
			<span class="ca-hero-chip"><i class="fa fa-cogs"></i>
				<a href="#/taxgroups">{{'label.anchor.managetaxgroup' | translate}}</a>
			</span>
		</div>
	</div>

	<div class="ca-card">
		<div class="ca-section-heading" style="margin-top:0;">
			<i class="fa fa-eye"></i> {{'label.anchor.viewtaxgroup' | translate}}
			<span class="pull-right">
				<a href="#/edittaxgroup/{{taxgroup.id}}" class="btn btn-primary btn-sm" has-permission='UPDATE_TAXGROUP'><i class="fa fa-edit"></i>&nbsp;{{'label.button.edit' | translate}}</a>
			</span>
		</div>
		<div class="form-horizontal">
			<fieldset>
				<div class="form-group">
					<label class="text-right col-sm-3">{{'label.input.name' | translate}}</label>
					<div class="col-sm-4">{{taxgroup.name}}</div>
				</div>
				<div class="form-group col-sm-12 grbgcolor">
					<label class="col-sm-4">{{'label.input.taxcomponent' | translate}}</label>
					<label class="col-sm-4">{{'label.input.startdate' | translate}}</label>
					<label class="col-sm-4">{{'label.input.enddate' | translate}}</label>
				</div>
				<div class="form-group col-sm-12" ng-repeat="taxgroup in taxgroup.taxAssociations">
					<div class="col-sm-4">{{taxgroup.taxComponent.name}}</div>
					<div class="col-sm-4">{{taxgroup.startDate | DateFormat}}</div>
					<div class="col-sm-4">{{taxgroup.endDate | DateFormat}}</div>
				</div>
				<div class="ca-form-actions">
					<a href="#/taxgroups" class="btn btn-default btn-sm">{{'label.button.back' | translate}}</a>
				</div>
			</fieldset>
		</div>
	</div><!-- /.ca-card -->

</div>
